<template>
  <div class="consentCookie-container" :style="globalColor">
    <div id="consentCookie"></div>
    <div class="cookiescript_badge" v-on:click="show('click')">
        <div class="cookiescript_badgetext">
          {{ $t('cookie.settings') }}
        </div>
        <div class="cookiescript_badgeimage">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 512.13 512.13" style="enable-background:new 0 0 512.13 512.13;" xml:space="preserve">
            <g>
              <g>
                <g>
                  <path d="M482.497,136.477c-2.799-5.256-8.285-8.524-14.24-8.48h-52.16v-32c0-8.837-7.163-16-16-16h-32v-43.84
                    c0.022-6.382-3.751-12.167-9.6-14.72C228.916-35.117,78.023,24.083,21.469,153.665s2.646,280.474,132.228,337.028
                    s280.474-2.646,337.028-132.228c14.105-32.319,21.381-67.204,21.372-102.468C512.101,214.342,501.941,173.315,482.497,136.477z
                    M256.097,479.997C132.386,480.151,31.972,379.988,31.818,256.276C31.664,132.565,131.827,32.151,255.539,31.997
                    c27.539-0.034,54.849,5.01,80.558,14.88v33.12c0,17.673,14.327,32,32,32h16v16c0,17.673,14.327,32,32,32h42.4
                    c14.324,29.97,21.707,62.783,21.6,96C480.097,379.709,379.809,479.997,256.097,479.997z"/>
                  <path d="M224.097,143.997c0-26.51-21.49-48-48-48c-26.51,0-48,21.49-48,48s21.49,48,48,48
                    C202.607,191.997,224.097,170.507,224.097,143.997z M176.097,159.997c-8.837,0-16-7.163-16-16s7.163-16,16-16s16,7.163,16,16
                    S184.934,159.997,176.097,159.997z"/>
                  <path d="M240.097,319.997c-26.51,0-48,21.49-48,48c0,26.51,21.49,48,48,48c26.51,0,48-21.49,48-48
                    C288.097,341.487,266.607,319.997,240.097,319.997z M240.097,383.997c-8.837,0-16-7.163-16-16s7.163-16,16-16s16,7.163,16,16
                    S248.934,383.997,240.097,383.997z"/>
                  <circle cx="400.097" cy="303.997" r="32"/>
                  <circle cx="112.097" cy="287.997" r="32"/>
                  <path d="M304.097,159.997c-35.346,0-64,28.654-64,64c0,35.346,28.654,64,64,64c35.346,0,64-28.654,64-64
                    C368.097,188.651,339.443,159.997,304.097,159.997z M304.097,255.997c-17.673,0-32-14.327-32-32s14.327-32,32-32
                    c17.673,0,32,14.327,32,32S321.77,255.997,304.097,255.997z"/>
                </g>
              </g>
            </g>
          </svg>
        </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery';

export default {
  name: "cookie",
  mounted: function() {
    this.$parent.setupKlaro();
  },
  methods: {
    show: function(val) {
      this.$parent.setupKlaro(val);
    }
  },
  computed: {
    globalColor: function() {
      return {
        '--globalColor': this.$parent.$parent.globalColor  
      }
    }
  }
}
</script>

<style lang="scss">
$globalColor: var(--globalColor);

.cm-btn-success,
.klaro .cookie-modal .cm-app-input.required:checked+.cm-app-label .slider
{
  background: $globalColor !important;
}

.cm-learn-more {
  color: $globalColor !important;
}

.cookie-notice {
  width: 100% !important;
  max-width: 100% !important;
  bottom: 0 !important;
  right: auto !important;
}

.cn-body p {
  line-height: 1.2;
}

.hide {
  display: none;
}

.cm-btn {
  cursor: pointer;
}

svg {
  fill: $globalColor !important;
}

.cookiescript_badge {
  position: fixed;
  line-height: 0;
  cursor: pointer;
  z-index: 998;
  font-size: 0;
  color: #999;
  bottom: 10px;
  right: 10px;
  background: #2d2d2d;
  border-radius: 25px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  transition-duration: 500ms;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.cookiescript_badgeimage {
  width: 40px;
  height: 40px;
}

.cookiescript_badgetext {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 2.5;
  font-weight: 600;
  font-family: 'Open Sans', Arial, 'Trebuchet MS', 'Segoe UI', 'Helvetica', sans-serif;
  overflow: hidden;
  transition-duration: 500ms;
  white-space: nowrap;
  padding-right: 0;
  max-width: 0;
  color: #FFFFFF;
}

.cookiescript_badge:hover .cookiescript_badgetext {
  max-width: 300px;
  padding-right: 15px;
  padding-left: 12px;
}
</style>