<template>
    <div id="Loader-container">
      <div id="animation-loader">
        <div>
          <img src="../../assets/img/logo.png" alt="Logo Pierre Maury"/>
        </div>
        <div>
          <p>{{ $t('loader.dev') }}</p>
          <p>{{ $t('loader.web') }}</p>
          <p>{{ $t('loader.since') }}</p>
        </div>
      </div>
      <div class="preloader-wrap">
        <div class="percentage" id="precent"></div>
        <div class="loader">
          <div class="trackbar">
            <div class="loadbar"></div>
          </div>
          <div class="glow"></div>
        </div>
      </div>
    </div>
</template>

<script>
import $ from 'jquery';

export default {
  name: "loader",
  mounted() {
    this.loader();
    $('#animation-loader div:nth-child(1)').one("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function(){
      $('#animation-loader div:nth-child(2)').addClass("animate_text");
    });
  },
  methods: {
    loader() {
      let width = 100,
          perfData = window.performance.timing,
          EstimatedTime = -(perfData.loadEventEnd - perfData.navigationStart),
          time = parseInt((EstimatedTime/1000)%60)*100;
      $(".loadbar").animate({
        width: width + "%"
      }, time);
      $(".glow").animate({
        width: width + "%"
      }, time);
      let PercentageID = $("#precent"),
          start = 0,
          end = 100,
          durataion = time;
      this.animateValue(PercentageID, start, end, durataion);
      setTimeout(function(){
        $(".loadingLoader").delay(500).fadeOut("slow");
        $("#Loader-container").delay(500).fadeOut("slow");
        window.scrollTo(0, 0);
      }, time);
    },
    animateValue(id, start, end, duration) {
      let range = end - start,
          current = start,
          increment = end > start? 1 : -1,
          stepTime = Math.abs(Math.floor(duration / range)),
          obj = $(id);
      let timer = setInterval(function() {
        current += increment;
        $(obj).text(current + "%");
        if (current == end) {
          clearInterval(timer);
        }
      }, stepTime);
    }
  }
}
</script>

<style lang="scss" scoped>
#Loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ecf0f1, #fff);
  z-index: 9999;
  overflow: hidden;
}

p {
  font-size: 2.43vw;
  text-align: center;
  color: #5c5c5c;
}

p:nth-child(2) {
  font-size: 1.74vw;
}

#animation-loader {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  text-align: center;
}

img {
  width: 35%;
}

#animation-loader div:nth-child(1) {
  animation: title-animation ease-out 2s;
}

#animation-loader div:nth-child(2) {
  margin-top: -2.08vw;
  opacity: 0;
}

.animate_text {
  animation: text-animation ease-out 1s;
  animation-fill-mode: forwards; 
}

@keyframes title-animation {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 4.5vw;
  }
  p:nth-child(2) {
    font-size: 3vw;
  }
  img {
    width: 80%;
  }
  #animation-loader div:nth-child(2) {
    margin-top: -5vw;
  }
  .percentage, .loader {
    max-width: 285px !important;
  }
}

.percentage {
  z-index: 100;
  border: 1px solid #ccc;
  text-align:center;
  color: #fff;
  line-height: 30px;
  font-size : 15px;
}

.loader,
.percentage{
  height: 30px;
  max-width: 500px; 
  border: 2px solid #5C5C5C;
  border-radius: 20px;
  font-weight: 300;
  position: absolute; 
  bottom: 130px;
  left: 0; 
  right: 0;
  margin : auto; 
}

.loader:after,
.percentage:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trackbar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
}

.loadbar {
  width: 0%;
  height: 100%;
  background: repeating-linear-gradient(
  45deg, 
    #5C5C5C, 
    #5C5C5C 10px, 
    #AEAEAE 10px,
    #AEAEAE 20px
  ); /* Stripes Background Gradient */
  box-shadow: 0px 0px 14px 1px #5C5C5C; 
  position: absolute;
  top: 0;
  left: 0;
  animation: flicker 5s infinite;
  overflow: hidden;
}

.glow {
  width: 0%;
  height: 0%;
  border-radius: 20px;
  box-shadow: 0px 0px 60px 10px #5C5C5C;
  position: absolute;
  bottom: -5px;
  animation: animation 5s infinite;
}

@keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}
</style>