<template>
    <!-- MENU -->
    <header id="Menu" :style="globalColor">
        <nav>
            <div class="logo">
                <img src="../../assets/img/logo.png" alt="Logo Pierre Maury" />
            </div>
            <ul>
                <li>
                    <a v-on:click="top()">{{ $t('menu.home') }}</a>
                </li>
                <li>
                    <a href="#Services">{{ $t('menu.service') }}</a>
                </li>
                <li>
                    <a href="#Contact">{{ $t('menu.contact') }}</a>
                </li>
                <hr>
                <li :title="$t('menu.color')" class="inputColor">
                    <label class="pulse" for="colorChoice"></label>
                    <input v-on:change="changeColor()" type="color" :value="this.$parent.$parent.globalColor" id="colorChoice">
                </li>
                <li v-if="this.$i18n.locale == 'en'">
                    <a v-on:click="changeLocale()">
                        <img class="flag en-flag" src="https://www.pmaury.fr/assets/img/flag/en.jpg" alt="English Flag" />
                    </a>
                </li>
                <li v-else>
                    <a v-on:click="changeLocale()">
                        <img class="flag fr-flag " src="https://www.pmaury.fr/assets/img/flag/fr.jpg" alt="French Flag" />
                    </a>
                </li>
            </ul>
            <div class="nav__icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>
</template>

<script>
import $ from 'jquery';

export default {
    name: 'myMenu',
    mounted() {
        if(localStorage.getItem('lang') == null) {
            this.$i18n.locale = 'fr';
        } else {
            this.$i18n.locale = localStorage.getItem('lang');
        }
        this.$parent.$parent.globalColor = localStorage.getItem("globalColor") || this.$parent.$parent.globalColor;
        this.responsiveMenu();
    },
    methods: {
        responsiveMenu() {
            $(function(){
                $('.nav__icon').on('click', function() {
                    $(this).toggleClass('active');
                    $('nav ul').slideToggle();
                });
                $(window).on('load resize',function(){
                        var w = $(window).width();
                        var h = $(window).height();
                        var x = 700;
                        if (w >= x) {
                            $('nav ul').css({ display: 'flex',height: 'auto' });
                            $('#Menu').removeClass('Menu-responsive');
                        }else {
                            $('nav ul').css({ display: 'none',height: h + 'px'});
                            $('#Menu').addClass('Menu-responsive');
                        }
                    });
                });
        },
        top() {
            window.scrollTo(0, 0);
        },
        changeColor() {
            this.$parent.$parent.globalColor = document.getElementById("colorChoice").value;
            localStorage.setItem('globalColor', this.$parent.$parent.globalColor);
        },
        changeLocale() {
            if  (this.$i18n.locale == "fr") this.$i18n.locale     = "en";
            else if (this.$i18n.locale == "en") this.$i18n.locale = "fr";
            localStorage.setItem('lang', this.$i18n.locale);
            this.$parent.setupKlaro();
        },
        hexaToRGBA(hex) {
            let c;
            if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
                c= hex.substring(1).split('');
                if(c.length== 3){
                    c= [c[0], c[0], c[1], c[1], c[2], c[2]];
                }
                c= '0x'+c.join('');
                return [(c>>16)&255, (c>>8)&255, c&255].join(',');
            }
            throw new Error('Bad Hex');
        },
        handleScroll (event) {
            let distanceToTop = document.getElementById('Accueil-container').getBoundingClientRect().top;
            if(distanceToTop < -350) {
                $('#Menu').addClass('fadeInDown');
                $('#Menu').addClass('animated');
                $('#Menu').addClass('Menu-sticky');
            } else {
                $('#Menu').removeClass('fadeInDown');
                $('#Menu').removeClass('animated');
                $('#Menu').removeClass('Menu-sticky');
            }
        }
    },
    created() {
        window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
        window.removeEventListener('scroll', this.handleScroll);
    },
    computed: {
        globalColor() {
            return {
                '--globalColor': this.$parent.$parent.globalColor,
                '--rgba-color': this.hexaToRGBA(this.$parent.$parent.globalColor)  
            }
        }
    }
}
</script>

<style lang="scss" scoped>
$globalColor: var(--globalColor);
$rgbaColor: var(--rgba-color);

header {
    background: transparent;
    width: 100%;
    position: absolute;
    border-bottom: #5C5C5C solid 1px;
}

a {
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

nav {
    max-width: 1180px;
	height: 80px;
    margin: 0px auto;
    display: -webkit-flex;
    display: flex;
	-ms-align-items: center;
    align-items: center;
}

.logo {
    margin-left: 10px;
    margin-right: auto;
}

.logo img {
    width: 75px;
    margin-bottom: -10px;
}

img {
    width: 25px;
}

ul {
	display: -webkit-flex;
	display: flex;
    list-style: none;
}

ul li a, .inputColor{
    color: #fff;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav__icon,
.nav__icon span {
    display: none;
}

.nav__icon {
    width: 36px;
    height: 28px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.nav__icon span {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
}

.nav__icon span:nth-of-type(1) {
    top: 0;
}

.nav__icon span:nth-of-type(2) {
    top: 12px;
}

.nav__icon span:nth-of-type(3) {
    bottom: 0;
}

.nav__icon.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-45deg);
    transform: translateY(12px) rotate(-45deg);
}

.nav__icon.active span:nth-of-type(2) {
    display: none;
}

.nav__icon.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
}

@media only screen and (max-width: 700px) {
    header {
        z-index: 999;
    }
    h1 {
        margin: 0 auto;
		}
		ul {
				-webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
				background: rgba(0, 0, 0, .8);
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        z-index: 980;
    }
    ul li {
        padding: 10px;
        text-align: center;
    }
    ul li a {
		display: block;
        background: transparent;
        margin: 0px;
        padding: 20px;
    }
    ul li a:hover {
        color: #000;
        background: #fff;
    }
    .nav__icon,
    .nav__icon span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        z-index: 999;
    }
}

.Menu-sticky {
    background: rgba(255,255,255,.75);
    position: fixed !important;
    z-index: 999;
    border-bottom: 1px solid rgba(0,0,0,0.5) !important;
    transition: all 1s ease-out;
}

.Menu-sticky a {
    color: black;
}

.Menu-sticky nav .nav__icon span {
    background: black;
}

.pulse {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: $globalColor;
  cursor: pointer;
  box-shadow: 0 0 0 rgba($rgbaColor, 0.4);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($rgbaColor, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba($rgbaColor, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($rgbaColor, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($rgbaColor, 0.4);
    box-shadow: 0 0 0 0 rgba($rgbaColor, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba($rgbaColor, 0);
      box-shadow: 0 0 0 10px rgba($rgbaColor, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($rgbaColor, 0);
      box-shadow: 0 0 0 0 rgba($rgbaColor, 0);
  }
}

hr{ 
    border:         none;
    border-left:    #5C5C5C solid 1px;
    height:         80px;
    width:          1px;   
    margin-right: 20px;    
}

ul li {
    align-self: center;
}

ul li:last-child {
    margin-right: 10px;
}


.flag {
    margin-top: 5px;
}

.flag:hover {
    box-shadow        : 0px 0px 150px #000000;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform : scale(1.5);
    -ms-transition    : all 200ms ease-in;
    -ms-transform     : scale(1.5);
    -moz-transition   : all 200ms ease-in;
    -moz-transform    : scale(1.5);
    transition        : all 200ms ease-in;
    transform         : scale(1.5);
}

.Menu-sticky.Menu-responsive nav ul li a {
    color: white;
}

.Menu-responsive hr {
    display: none;
}

.Menu-responsive nav ul li:last-child {
    margin-right: 0px;
}

.Menu-sticky.Menu-responsive nav ul li a:hover {
    color: black;
}

.Menu-responsive nav ul li:last-child:hover {
    margin-right: 0px;
    background: none !important;
}

.Menu-responsive nav ul li:last-child a:hover {
    background: transparent !important;
}

#colorChoice {
    opacity: 0; 
    visibility: hidden; 
    position: absolute;
}

</style>