<template>
    <div id="Global-container">
        <Cookie />
        <Menu /> 
        <div id="Home-container">
            <Accueil />
            <Propos />
            <br/>
            <Reference />
            <br/>
            <Services />
            <br/>
            <Technologies />
            <br/>
            <Gestion />
            <Contact />
        </div>
    </div>
</template>

<script>
import $ from 'jquery';

import Cookie from '@/components/element/Cookie.vue'
import Menu from '@/components/element/Menu.vue'
import Accueil from '@/components/section/Accueil.vue'
import Propos from '@/components/section/Propos.vue'
import Reference from '@/components/section/Reference.vue'
import Services from '@/components/section/Services.vue'
import Technologies from '@/components/section/Technologies.vue'
import Gestion from '@/components/section/Gestion.vue'
import ProjectPerso from '@/components/section/ProjectPerso.vue'
import MoreInfo from '@/components/section/MoreInfo.vue'
import Contact from '@/components/section/Contact.vue'

export default {
    name: 'Home',
    components: {
        Cookie,
        Menu,
        Accueil,
        Propos,
        Reference,
        Services,
        Technologies,
        Gestion,
        ProjectPerso,
        MoreInfo,
        Contact
    },
    methods: {
        setupKlaro(val) {
            if(localStorage.klaro == null || localStorage.klaro == undefined) {
                if(document.getElementById('klaro-script') != null || document.getElementById('klaro-script') != undefined) {
                    document.getElementById('klaro-script').remove();
                }
                delete window.klaroConfig;
                $('#consentCookie').empty();
                window.klaroConfig = {
                    elementID: "consentCookie",
                    storageMethod: 'localStorage',
                    cookieName: 'klaro',
                    cookieExpiresAfterDays: 3,
                    privacyPolicy: '/#privacy',
                    default: false,
                    mustConsent: false,
                    acceptAll: false,
                    hideDeclineAll: false,
                    lang: localStorage.lang,
                    translations: {
                        fr: {
                        consentNotice: {
                            description: 'Nous utilisons les cookies afin de fournir les services et fonctionnalités \
                                        proposés sur notre site et afin d\'améliorer l\'expérience de nos utilisateurs.\n\n \
                                        Les cookies sont des données qui sont téléchargés ou stockés sur votre ordinateur ou sur tout autre appareil. \
                                        \n\nEn cliquant sur "J\'accepte", \
                                        vous acceptez l\'utilisation des cookies. Vous pourrez toujours les désactiver ultérieurement. \
                                        \n\nSi vous supprimez ou désactivez nos cookies, vous pourriez rencontrer des interruptions ou \
                                        des problèmes d\'accès au site.',
                            learnMore: "Paramètres",
                        },
                        ok: "Accepter",
                        acceptSelected: "Accepter",
                        decline: "Refuser",
                        consentModal: {
                            description: 'Ici, vous pouvez voir et personnaliser les informations que nous collectons à votre sujet.',
                            title: "Paramétrage des cookies",
                            privacyPolicy: {
                            text: 'Pour en savoir plus, merci de lire nos mentions légales.'
                            },
                        },
                        intern: {
                            description: 'Permets de garder en mémoire la couleur et la langue choisie par l\'utilisateur.',
                        },
                        purposes: {
                            analytics: 'Analyse',
                            security: 'Sécurité',
                            advertising: 'Publicité',
                            none: 'Aucun',
                        },
                        },
                        en: {
                        consentNotice: {
                            description: 'We use cookies to provide the services and features offered on our site and to improve the experience of our users.\n\n \
                                        Cookies are data that is downloaded or stored on your computer or any other device. \
                                        \n\nBy clicking on "Accept", \
                                        you accept the use of cookies. You can always deactivate them later. \
                                        \n\nIf you delete or deactivate our cookies, you may experience interruptions or problems accessing the site.',
                            learnMore: "Settings",
                        },
                        ok: "Accept",
                        acceptSelected: "Accept",
                        decline: "Refuse",
                        consentModal: {
                            description: 'Here you can view and customize the information we collect about you.',
                            title: "Cookie settings",
                            privacyPolicy: {
                            text: 'To find out more, please read our legal notice.'
                            },
                        },
                        intern: {
                            description: 'Allows to keep in memory the color and the language chosen by the user.',
                        },
                        purposes: {
                            analytics: 'Analysis',
                            security: 'Security',
                            advertising: 'Publicity',
                            none: 'None',
                        },
                        },
                    },
                    apps: [
                        {
                        name: 'intern',
                        title: 'pmaury.fr',
                        purposes: ['none'],
                        required: true,
                        },
                    ],
                }
                var fjs = document.getElementsByTagName("script")[0];
                var js = document.createElement("script");
                js.id = "klaro-script";
                js.src = "https://"+window.location.host+"/assets/js/klaro.js";
                let callback = function () {
                    if(klaro != undefined || klaro != null) {
                        klaro.show();
                    }   
                }
                js.onload = callback;
                fjs.parentNode.insertBefore(js, fjs);
            }
            if(val == 'click' && (localStorage.klaro != null || localStorage.klaro != undefined)) {
                delete window.klaroConfig;
                $('#consentCookie').empty();
                window.klaroConfig = {
                    elementID: "consentCookie",
                    storageMethod: 'localStorage',
                    cookieName: 'klaro',
                    cookieExpiresAfterDays: 3,
                    privacyPolicy: '/#privacy',
                    default: false,
                    mustConsent: false,
                    acceptAll: false,
                    hideDeclineAll: false,
                    lang: localStorage.lang,
                    translations: {
                        fr: {
                        consentNotice: {
                            description: 'Nous utilisons les cookies afin de fournir les services et fonctionnalités \
                                        proposés sur notre site et afin d\'améliorer l\'expérience de nos utilisateurs.\n\n \
                                        Les cookies sont des données qui sont téléchargés ou stockés sur votre ordinateur ou sur tout autre appareil. \
                                        \n\nEn cliquant sur "J\'accepte", \
                                        vous acceptez l\'utilisation des cookies. Vous pourrez toujours les désactiver ultérieurement. \
                                        \n\nSi vous supprimez ou désactivez nos cookies, vous pourriez rencontrer des interruptions ou \
                                        des problèmes d\'accès au site.',
                            learnMore: "Paramètres",
                        },
                        ok: "Accepter",
                        acceptSelected: "Accepter",
                        decline: "Refuser",
                        consentModal: {
                            description: 'Ici, vous pouvez voir et personnaliser les informations que nous collectons à votre sujet.',
                            title: "Paramétrage des cookies",
                            privacyPolicy: {
                            text: 'Pour en savoir plus, merci de lire nos mentions légales.'
                            },
                        },
                        intern: {
                            description: 'Permets de garder en mémoire la couleur et la langue choisie par l\'utilisateur.',
                        },
                        purposes: {
                            analytics: 'Analyse',
                            security: 'Sécurité',
                            advertising: 'Publicité',
                            none: 'Aucun',
                        },
                        },
                        en: {
                        consentNotice: {
                            description: 'We use cookies to provide the services and features offered on our site and to improve the experience of our users.\n\n \
                                        Cookies are data that is downloaded or stored on your computer or any other device. \
                                        \n\nBy clicking on "Accept", \
                                        you accept the use of cookies. You can always deactivate them later. \
                                        \n\nIf you delete or deactivate our cookies, you may experience interruptions or problems accessing the site.',
                            learnMore: "Settings",
                        },
                        ok: "Accept",
                        acceptSelected: "Accept",
                        decline: "Refuse",
                        consentModal: {
                            description: 'Here you can view and customize the information we collect about you.',
                            title: "Cookie settings",
                            privacyPolicy: {
                            text: 'To find out more, please read our legal notice.'
                            },
                        },
                        intern: {
                            description: 'Allows to keep in memory the color and the language chosen by the user.',
                        },
                        purposes: {
                            analytics: 'Analysis',
                            security: 'Security',
                            advertising: 'Publicity',
                            none: 'None',
                        },
                        },
                    },
                    apps: [
                        {
                        name: 'intern',
                        title: 'pmaury.fr',
                        purposes: ['none'],
                        required: true,
                        },
                    ],
                }
                var fjs = document.getElementsByTagName("script")[0];
                var js = document.createElement("script");
                js.id = "klaro-script";
                js.src = "https://"+window.location.host+"/assets/js/klaro.js";
                let callback2 = function () {
                    if(klaro != undefined || klaro != null) {
                        klaro.show();
                    }   
                }
                js.onload = callback2;
                fjs.parentNode.insertBefore(js, fjs);
            }
        }
    }
}
</script>