<template>
    <div id="UnsupportedBrowser-container">
        <div class="row">
            <h3>Améliorez votre expérience</h3>
            <p>Vous utilisez un navigateur que nous ne prenons pas en charge.<br/>Veuillez utiliser l'un de ces navigateurs pris en charge :</p>
        </div>
        <div class="row">
            <div class="browser">
                <div class="list-supported">
                    <div class="supported">
                        <h4>Supporté</h4>
                        <ul>
                            <li>
                                <a href="https://www.opera.com/fr">
                                    <img src="https://www.pmaury.fr/assets/img/browser/opera.png" alt="Opera"/>
                                    <p>Opera</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.google.fr/chrome/">
                                    <img src="https://www.pmaury.fr/assets/img/browser/chrome.png" alt="Chrome"/>
                                    <p>Chrome</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.mozilla.org/fr/firefox/">
                                    <img src="https://www.pmaury.fr/assets/img/browser/firefox.png" alt="Firefox"/>
                                    <p>Firefox</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="list-unsupported">
                    <div class="unsupported">
                        <h4>Non Supporté</h4>
                        <ul>
                            <li>
                                <img src="https://www.pmaury.fr/assets/img/browser/edge.png" alt="Edge"/>
                                <p>Edge</p>
                            </li>
                            <li>
                                <img src="https://www.pmaury.fr/assets/img/browser/IE.png" alt="Internet Explorer"/>
                                <p>Internet Explorer</p>
                            </li>
                            <li>
                                <p>Et d'autres ...</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p>Nous sommes désolés pour la gêne occasionnée.</p>
        </div>
    </div>
</template>

<style scoped>
.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.row div {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

img {
    width: 100px;
}

h3 {
    margin-top: 60px;
    margin-bottom: .275em;
    color: #444;
    font-size: 3.6rem;
    line-height: 1.1;
}

.row:nth-child(1) p {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.333333333;
    word-spacing: .1em;
    text-align: center;
}

.browser div {
    display: inline-block;
    padding: 20px;
}

li {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

h4 {
    width: 100%;
    text-align: center;
    margin: 5px 0 30px 0;
}

.row:last-child {
    margin-top: 25px;
}

.supported, .unsupported {
    border: 2px solid #e8e8e8;
    vertical-align: top;
    background: #f8f8f8;
}

.unsupported li:last-child {
    display: inherit;
    margin-top: 30px;
}

a p {
    color: black;
}

.supported li { transition: all .2s ease-in-out; }
.supported li:hover { transform: scale(1.1); }
</style>