<template>
    <div class="container-modal">
        <div class="row row-topTitle">
            <h3>{{ $t("CGV.topTitle") }}</h3>
        </div>
        <div class="row row-topDescrition">
            <p>{{ $t("CGV.topText") }}</p>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt1") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt1") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt2") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt2") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt3") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt3") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt4") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt4") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt5") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt5") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt6") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt6") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt7") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt7") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt8") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt8") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt9") }}</p>
        </div>
        <div class="row row-list">
           <ul style="list-style-type: lower-alpha;">
               <li>{{ $t("CGV.textArt9.subTitle1") }}</li>
               <blockquote>{{ $t("CGV.textArt9.subText1") }}</blockquote>
               <li>{{ $t("CGV.textArt9.subTitle2") }}</li>
               <blockquote>
                   {{ $t("CGV.textArt9.subText2") }}
                   <ul>
                       <li>{{ $t("CGV.textArt9.subSubTitle1") }}</li>
                       <blockquote v-html="$t('CGV.textArt9.subSubText1')"></blockquote>
                       <li>{{ $t("CGV.textArt9.subSubTitle2") }}</li>
                       <blockquote v-html="$t('CGV.textArt9.subSubText2')"></blockquote>
                   </ul>
               </blockquote>
               <li>{{ $t("CGV.textArt9.subTitle3") }}</li>
               <blockquote v-html="$t('CGV.textArt9.subText3')"></blockquote>
               <li>{{ $t("CGV.textArt9.subTitle4") }}</li>
               <blockquote v-html="$t('CGV.textArt9.subText4')"></blockquote>
           </ul>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt10") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote v-html="$t('CGV.textArt10')"></blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt11") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt11") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt12") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt12") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt13") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt13") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt14") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt14") }}</blockquote>
        </div>
        <div class="row row-title">
            <p>{{ $t("CGV.titreArt15") }}</p>
        </div>
        <div class="row row-texte">
            <blockquote>{{ $t("CGV.textArt15") }}</blockquote>
        </div>
    </div>
</template>

<script>
export default {
    name: "CGV",
    computed: {
        globalColor() {
            return {
                '--globalColor': this.$parent.$parent.globalColor 
            }
        }
    }
}
</script>

<style lang="scss" scoped>
$globalColor: var(--globalColor);

.container-modal {
    padding: 15px;
    text-align: justify;
}

h3 {
    margin: 0 0 15px 0;
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    font-family: Poppins-Bold;
}

p {
    font-size: 15px;
    line-height: 1.7;
    padding: 0;
    margin: 0 0 20px 0;
}

.row-title p {
    margin: 10px 0 5px 0;
}

blockquote {
    margin: 25px 0;
    padding: 0 0 0 20px;
    font-size: 16px;
    line-height: 26px;
    color: #a9a9a9;
    font-style: italic;
    font-weight: 300;
    border-left: 2px solid $globalColor;
}

ul {
    margin: 25px 0;
    list-style: none;
}

li {
    margin: 0 40px;
    padding: 0 0 0 20px;
    position: relative;
    font-size: 15px;
    color: black;
    font-weight: 400;
}

blockquote ul li {
    margin: 0 5px !important;
}

</style>