<template>
  <div class="container-modal">
    <div class="row row-topTitle">
      <h3>{{ $t("Mentions.topTitre") }}</h3>
    </div>
    <div class="row row-title">
      <p>{{ $t("Mentions.titre1") }}</p>
    </div>
    <div class="row row-texte">
      <blockquote v-html="$t('Mentions.text1')"></blockquote>
    </div>
    <div class="row row-title">
      <p>{{ $t("Mentions.titre2") }}</p>
    </div>
    <div class="row row-texte">
      <blockquote v-html="$t('Mentions.text2')"></blockquote>
    </div>
    <div class="row row-title">
      <p>{{ $t("Mentions.titre3") }}</p>
    </div>
    <div class="row row-texte">
      <blockquote v-html="$t('Mentions.text3')"></blockquote>
    </div>
    <div class="row row-title">
      <p>{{ $t("Mentions.titre4") }}</p>
    </div>
    <div class="row row-texte">
      <blockquote v-html="$t('Mentions.text4')"></blockquote>
    </div>
    <div class="row row-title">
      <p>{{ $t("Mentions.titre5") }}</p>
    </div>
    <div class="row row-texte">
      <blockquote v-html="$t('Mentions.text5')"></blockquote>
    </div>
    <div class="row row-title">
      <p>{{ $t("Mentions.titre6") }}</p>
    </div>
    <div class="row row-texte">
      <blockquote v-html="$t('Mentions.text6')"></blockquote>
    </div>
    <div class="row row-title">
      <p>{{ $t("Mentions.titre7") }}</p>
    </div>
    <div class="row row-texte">
      <blockquote v-html="$t('Mentions.text7')"></blockquote>
    </div>
  </div>
</template>

<script>
export default {
  name: "ML",
}
</script>

<style lang="scss" scoped>
$globalColor: var(--globalColor);

.container-modal {
  padding: 15px;
  text-align: justify;
}

h3 {
  margin: 0 0 15px 0;
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
  font-family: Poppins-Bold;
}

p {
  font-size: 15px;
  line-height: 1.7;
  padding: 0;
  margin: 0 0 20px 0;
}

.row-title p {
  margin: 10px 0 5px 0;
}

blockquote {
  margin: 25px 0;
  padding: 0 0 0 20px;
  font-size: 16px;
  line-height: 26px;
  color: #a9a9a9;
  font-style: italic;
  font-weight: 300;
  border-left: 2px solid $globalColor;
}

ul {
  margin: 25px 0;
  list-style: none;
}

li {
  margin: 0 40px;
  padding: 0 0 0 20px;
  position: relative;
  font-size: 15px;
  color: black;
  font-weight: 400;
}

blockquote ul li {
  margin: 0 5px !important;
}

.row-texte {
  justify-content: left !important;
}
</style>