<template>
    <!-- CONTAINER COMPONENT -->
    <div id="Accueil-container" :style="globalColor">
        <!-- CONTAINER GLOBAL  -->
        <div class="element-container">
          <!-- CONTAINER TEXTE -->
          <div class="text-container">
            <!-- CONTAINER TITRE -->
            <div class="title-container animated zoomIn delay-1s">
              <h1>{{ $t('Acceuil.freelance') }}</h1>
            </div>       
            <!-- CONTAINER NOM -->
            <div class="id-container animated zoomIn delay-2s">
              <div class="identifiant">
                <h2>Pierre Maury</h2>
              </div>
            </div>   
          </div>
          <!-- ANIMATION SCROLL SOURIS -->
          <div class="scroll-downs">
            <div class="mousey">
              <div class="scroller"></div>
            </div>
          </div>
          <div class="scroll-downs-text">
            <p>{{ $t('Acceuil.scroll') }}</p>
          </div>
        </div>
        <!-- PARTICULES -->
        <vue-particles 
        color="#A7A7A7"
        :particleOpacity="0.7"
        :particlesNumber="70"
        shapeType="circle"
        :particleSize="4"
        linesColor="#A7A7A7"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.5"
        :linesDistance="150"
        :moveSpeed="1"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="false"></vue-particles>
    </div>
</template>

<script>
export default {
  name: 'accueil',
  computed: {
    globalColor() {
      return {
        '--globalColor': this.$parent.$parent.globalColor  
      }
    }
  }
}
</script>

<style lang="scss" scoped>
/* CONTAINER */
#Accueil-container {
  background-image: url('../../assets/img/accueil/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.element-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.text-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* TEXT */
$fontSize: 50px;

h1, h2 {
  color: #F9F9F9;
  opacity: 0.85;
}

h1 {
  font-size: $fontSize;
}

h2 {
  font-size: $fontSize/1.80;
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: $fontSize/1.25;
  }
  h2 {
    font-size: ($fontSize/1.80)/1.25;
  }
}

@media only screen and (max-width: 670px) {
  h1 {
    font-size: $fontSize/1.5;
  }
  h2 {
    font-size: ($fontSize/1.80)/1.5;
  }
}

@media only screen and (max-width: 560px) {
  h1 {
    font-size: $fontSize/2;
  }
  h2 {
    font-size: ($fontSize/1.75)/2;
  }
}

.title-container {
  margin-bottom: 20px;
}

/* SCROLL */
.scroll-downs {
  position: absolute;
  bottom: 35px;
  width : 34px;
  height: 55px;
}

.scroll-downs-text {
  position: absolute;
  bottom: 5px;
  width : 100%;
  color: #fff;
  opacity: 0.80;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.80;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* PARTICLE JS */
#particles-js {
  width: 98vw !important;
  height: 100vh !important;
}
</style>