<template>
  <div id="Contact" :style="globalColor">
      <div class="row">     
        <div data-aos="zoom-in-down"
            data-aos-easing="ease-in-sine"
            class="title-big title-long">
            <h3 class="title-light" :data-before="$t('contact.contact')">
             {{ $t('contact.contact') }}
            </h3>
        </div>     
      </div>
      <div data-aos="zoom-in-down"
           data-aos-easing="ease-in-sine" 
           class="row">
          <div class="title-small">{{ $t('contact.contactText') }}</div>
      </div>
      <div data-aos="zoom-in-down"
           data-aos-easing="ease-in-sine"
           class="row">
          <div class="contact-icon">
            <span id="envelop" :title="$t('contact.click')">
            <svg  version="1.1" id="mail-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="96.3 -4.7 45.1 46.2" style="enable-background:new 96.3 -4.7 45.1 46.2;" xml:space="preserve">
                <path class="st0" d="M138.2,10.5H99.5c-1.7,0-3.1,1.4-3.1,3.1v24.8c0,1.7,1.4,3.1,3.1,3.1h38.7c1.7,0,3.1-1.4,3.1-3.1V13.6
                    C141.3,11.9,139.9,10.5,138.2,10.5z"/>
                <path class="st0" d="M125.6,30.7c-3.7-2.6-6.6-4.6-6.8-4.7l0,0L125.6,30.7z"/>
                <path id="env-lid" class="st0" d="M118.9,26L118.9,26c0,0,16-11.1,21.4-14.8c-0.5-0.5-1.2-0.8-2-0.8H99.5c-0.8,0-1.5,0.3-2,0.8
                    L118.9,26L118.9,26z"/>
                <path id="env-paper" class="st1" d="M135.8,34.2h-33.9c-1.3,0-2.4-1.1-2.4-2.4V0.7c0-1.3,1.1-2.4,2.4-2.4h33.9
                    c1.3,0,2.4,1.1,2.4,2.4v31.1C138.1,33.1,137.1,34.2,135.8,34.2z"/>
                <path id="env-line-3" class="st2" d="M131.2,6.5h-24.7c-0.9,0-1.6-0.7-1.6-1.6l0,0c0-0.9,0.7-1.6,1.6-1.6h24.6
                    c0.9,0,1.6,0.7,1.6,1.6l0,0C132.8,5.7,132.1,6.5,131.2,6.5z"/>
                <path id="env-line-2" class="st2" d="M131.2,14.1h-24.7c-0.9,0-1.6-0.7-1.6-1.6l0,0c0-0.9,0.7-1.6,1.6-1.6h24.6
                    c0.9,0,1.6,0.7,1.6,1.6l0,0C132.8,13.4,132.1,14.1,131.2,14.1z"/>
                <path id="env-line-1" class="st2" d="M131.2,21.5h-24.7c-0.9,0-1.6-0.7-1.6-1.6l0,0c0-0.9,0.7-1.6,1.6-1.6h24.6
                    c0.9,0,1.6,0.7,1.6,1.6l0,0C132.8,20.8,132.1,21.5,131.2,21.5z"/>
                <path class="st3" d="M97.6,11.1c-0.6,0.5-1.3,1.5-1.3,2.4v24.9c0,1.7,1.4,3.1,3.1,3.1h38.8c0.8,0,1.4-0.3,2-0.7
                    C137.1,38.7,97.6,11.1,97.6,11.1z"/>
                <path class="st4" d="M140.3,11.2c-5.4,3.7-21.4,14.8-21.4,14.8l0,0c0.2,0.1,18.2,12.7,21.3,14.8c0.7-0.6,1.2-1.4,1.2-2.3v-25
                    C141.3,12.6,140.9,11.8,140.3,11.2z"/>
            </svg>     
            </span>         
          </div>
      </div>
      <br />
      <br />
      <div data-aos="zoom-in-down"
           data-aos-easing="ease-in-sine" 
           class="row">         
          <div class="contact-global contact-adress">
              <div>
                  <div><i class="fas fa-map-marker-alt"></i></div>
                  <div>
                    <a href="https://www.google.fr/maps/place/Impasse+des+Rayettes,+13500+Martigues/@43.4106828,5.0443841,17.78z/data=!4m8!1m2!2m1!1sImpasse+des+Rayettes,+Les+jardins+d'hestia13500+Martigues!3m4!1s0x12b61fccb9cd7433:0x4e81e347972d49c8!8m2!3d43.410648!4d5.0453949" target="_blank">
                        <p>18 Les Jardins d'Hestia, <br/> 2 Impasse des Rayettes, <br/> 13500 Martigues, <br/> France.</p>
                    </a>
                  </div>
              </div>
          </div>  
          <div class="contact-global contact-hours">
            <div>
                <div><i class="far fa-clock"></i></div>
                <div>
                    <div v-if="open" class="working-hours green" v-html="$t('contact.open')"></div>
                    <div v-else class="working-hours red" v-html="$t('contact.close')"></div>
                    <p>{{ $t('contact.workDay') }}</p>
                    <p>{{ $t('contact.workHours') }}</p>
                </div>
            </div>
          </div> 
      </div>
      <br />
      <br />
      <div class="row column-row"> 
          <div class="contact-global contact-email">
              <div>
                  <div><i class="fas fa-at"></i></div>
                  <div><p><a class="infos" href="mailto:pierremaury1@gmail.com" target="_blank">pierremaury1@gmail.com</a></p></div>
              </div>
          </div> 
          <br />
          <br />
          <div class="contact-global contact-phone">
              <div>
                <div><i class="fas fa-phone"></i></div>
                <div><p><a class="infos" href="tel:+33648371251" target="_blank">+33 6 48 37 12 51</a></p></div>
              </div>
          </div>          
      </div>
      <br />
      <br />
      <br />
      <div class="row responsive-row">    
          <div class="contact-laws">
            <div>
                <a :title="$t('contact.mentions')" v-on:click="show('ML')">
                    <i class="icon fas fa-book-reader"></i>
                </a>
            </div>
            <div>
                <a :title="$t('contact.CGV')" v-on:click="show('CGV')">
                    <i class="icon fas fa-handshake"></i>
                </a>
            </div>
          </div> 
          <div class="contact-goUp">
                <a v-on:click="top()">
                  <i class="fas fa-chevron-up"></i>
                </a>
                <p>{{ $t('contact.up') }}</p>
          </div> 
          <div class="contact-siren">
              <div class="siren">
                  842 004 814
              </div>
              <div class="siren-box">
                  N° SIREN
              </div>
          </div>       
      </div>
      <div id="particles-js2"></div>
      <modal style="z-index: 999;" name="ML" :adaptive="true" height="auto" :scrollable="true"><ML/></modal>
      <modal style="z-index: 999;" name="CGV" :adaptive="true" height="auto" :scrollable="true"><CGV/></modal>
  </div>
</template>

<script>
import $ from 'jquery';
import ML from '../modal/mentionsLegales.vue';
import CGV from '../modal/CGV.vue';

export default {
    name: "contact",
    components: {
        ML,
        CGV
    },
    data: function () { 
        return { 
            open: false,
        } 
    },
    methods: {
        show (id) {
            this.$modal.show(id);
        },
        hide (id) {
            this.$modal.hide(id);
        },
        setParticles() {
            particlesJS("particles-js2", {
                "particles": {
                    "number": {
                    "value": 375,
                    "density": {
                        "enable": true,
                        "value_area": 789.1476416322727
                    }
                    },
                    "color": {
                    "value": "#ffffff"
                    },
                    "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    },
                    "opacity": {
                    "value": 0.48927153781200905,
                    "random": false,
                    "anim": {
                        "enable": true,
                        "speed": 0.2,
                        "opacity_min": 0,
                        "sync": false
                    }
                    },
                    "size": {
                    "value": 2,
                    "random": true,
                    "anim": {
                        "enable": true,
                        "speed": 2,
                        "size_min": 0,
                        "sync": false
                    }
                    },
                    "line_linked": {
                    "enable": false,
                    "distance": 100,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                    },
                    "move": {
                    "enable": true,
                    "speed": 0.2,
                    "direction": "none",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                    }
                },
                "interactivity": {
                    "detect_on": "canvas",
                    "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "bubble"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                    },
                    "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                        "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 83.91608391608392,
                        "size": 1,
                        "duration": 3,
                        "opacity": 1,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                    }
                },
                "retina_detect": true
            });
        },
        setEmail() {
            let line1    = $('#env-line-1');
            let line2    = $('#env-line-2');
            let line3    = $('#env-line-3');
            let mailIcon = $('#mail-icon');
            let envLid   = $('#env-lid');
            let envPaper = $('#env-paper');
            let tl       = new TimelineLite({
                paused: true,
            });
            TweenLite.defaultEase = Back.easeOut;
            tl.to(envLid, 0.3, {
                scaleY: -1,
                y     : 1.5,
                }
            )
            .fromTo(envPaper, 0.4, {
                transformOrigin: "50% 100%",
                scaleY         : 0,
            },{
                scaleY: 1,
            }, "=-0.25")
            .staggerFromTo([line1, line2, line3], 0.3, {
                transformOrigin: "50% 50%",
                scaleX         : 0
            },{
                scaleX: 1,
            },	-0.09);
            $(mailIcon).click(function(){
                if ( $(this).hasClass('toggled') ) {
                    tl.reverse();
                } 
                else {
                    tl.play();
                }
                $(this).toggleClass('toggled'); 
            });
        },
        setOpen() {
            let now = new Date(Date.now()); 
            let heure = now.getHours();
            let minutes = now.getMinutes();
            let joursemaine = now.getDay();

            if(joursemaine > 0 && joursemaine < 6)
            {
                if(heure >= 9 && heure < 18)
                {
                    this.open = true;       
                }
                else
                {
                    this.open = false;            
                }
            }
            else
            {
                this.open = false;            
            }
        },
        top() {
            window.scrollTo(0, 0);
        }
    },
    mounted() {
        this.setEmail();
        this.setParticles();
        this.setOpen(); 
    },
    computed: {
        globalColor() {
            return {
                '--globalColor': this.$parent.$parent.globalColor  
            }
        }
    }
}
</script>

<style scoped>
/* CONTAINER  */
#Contact {
    background: linear-gradient(135deg, #1d1e21 0%, #3e4246 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    height: 100%;
}

#Contact div:not(#particles-js2) {
    z-index: 5;
}

.contact-siren {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.row > div {
    flex: 1;
}

.row {
    align-items: center;
}

a {
    cursor: pointer;
}
/* SMALL TITLE */
.title-small, p, a {
    color: #EEEEEE;
    font-size: 1.3em;
}

/* CONTACT ICON SVG */
.contact-icon {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: bottom;
	-ms-flex-align: bottom;
	align-items: bottom;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.st0{fill:#ccc;} /* top */
.st1{fill:#fff;} /* letter */
.st2{fill:var(--globalColor);} /* lines */
.st3{fill:#eee;} /* left */
.st4{fill:#ddd;} /* right */

#mail-icon {
	width: 10em;
	cursor: pointer;
}

.slash {
    color: #eee;
    margin: 0 10px 0 10px;
}

/* WORKING HOURS */
.working-hours {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.red {
  text-shadow: 0 0 2px, 0 0 1em #ff4444, 0 0 2.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.green {
  text-shadow: 0 0 2px, 0 0 1em #28DA2A, 0 0 2.5em #28DA2A, 0 0 0.1em #28DA2A, 0 10px 3px #000;
}

.working-hours >>> b{
  font: 400 5vh Vibur;
  color: #fee;
}

.working-hours >>> b span{
  animation: blink linear infinite 2s;
}
.working-hours >>> b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* ICONS  */
.contact-global div {
    text-align:center;
    vertical-align:middle;
}

.contact-global div div:nth-child(1):not(.working-hours) {
    width:40px;
    height:40px;
    border-radius:100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display:inline-block;
    position: relative;
    background: #3e4246;
    margin:auto;
    margin-bottom: -15px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.contact-global div div:nth-child(1) svg {
    position:relative;
    color:rgba(255, 255, 255, 0.6);
}

.contact-global div div:nth-child(2) {
    padding: 15px;
    /* border: 2px solid rgba(255, 255, 255, 0.2); */
}

.contact-laws {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-laws div {
    flex: 1;
}

.contact-laws div a:hover {
    color:  var(--globalColor);
}

/* SIREN */
.contact-siren, .contact-siren p {
    height: fit-content;
    align-items: center;
}

.siren-box {
    color: #000;
    background: #eee;
    border-radius: 3px;
    padding: 8px 16px;
    font-weight: 700;
}

.siren {
    color: #eee;
    margin-right: 20px;
}

/* GO UP */
.contact-goUp a {
    border: 2px hsla(0,0%,100%,.2) solid;
    display: inline-block;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    color: var(--globalColor);
}

.fa-chevron-up {
    -moz-animation: up 3s infinite;
    -webkit-animation: up 3s infinite;
    animation: up 3s infinite;
}

@keyframes up {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0;
  }
}

/* PARTICLE JS STARS */
#particles-js2 {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
}

/* RESPONSIVE */
@media only screen and (max-width: 630px) {
    a, p {
        font-size: 1em;
    }

    .responsive-row {
        flex-direction: column;
        margin-top: 20px;
    }

    .responsive-row div{
        margin-bottom: 20px;
    }

    #Contact {
        padding: 0;
    }

    .contact-laws div:first-child {
        margin-right: 50px;
    }

}
</style>