<template>
    <div id="MoreInfo" :style="globalColor">
        <div class="row">
            <h3>{{ $t('moreinfo.title') }}</h3>
        </div>
        <div class="row">
            <span data-count="100 000" class="statistic-counter"></span>
        </div>
    </div>
</template>

<script>
import $ from 'jquery';

export default {    
    name: "moreinfo",
    mounted() {

    },
    computed: {
        globalColor() {
            return {
                '--globalColor': this.$parent.$parent.globalColor   
            }
        }
    }
}
</script>

<style lang="scss" scoped>
$globalColor: var(--globalColor);

#MoreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

h3 {
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  padding-bottom: 6px;
  color: #000;
  letter-spacing: 0.3px;
  padding: 0;
}

h3::after {
    content: "";
    height: 3px;
    background: $globalColor;
    width: 10em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 35px;
}

</style>