<template>
    <div id="ProjetPerso-container">
        <div class="row">     
            <div data-aos="zoom-in-down"
                 data-aos-easing="ease-in-sine"
                 class="title-big">
                <h3>
                    {{ $t('projects.title') }}
                </h3>
            </div>     
        </div>
        <div data-aos="zoom-in-up"
             data-aos-easing="ease-in-sine"
             id="slider">
            <transition-group v-if="slides[current].arrApi" tag="div" :name="transitionName" class="slides-group">
                <div v-if="show" :key="current" class="slide">
                    <div class="row" v-bind:style="{ width: this.widthScreen + 'px' }">
                        <div class="row column-rowBis">
                            <div class="row">
                                <select id="select" v-on:click="change(selected)" class="custom-select" v-model="selected">
                                    <option v-for="item in slides[current].arrApi" :value="item.key">
                                        {{item.name}}
                                    </option>
                                </select>
                                <!-- <div v-for="element in slides[current].arrApi[this.id]"></div>  -->
                            </div>
                            <div class="row description">
                                {{ slides[current].description }}
                            </div>
                            <div class="row project-bottom">
                                <div class="row column-rowBis">
                                    {{ slides[current].date }}
                                </div>
                                <div class="row center">
                                    <div class="techno-img" v-for="technoImg in slides[current].arrTechno">
                                        <img :class="technoImg[2]" :alt="technoImg[0]" :src="technoImg[1]" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row column-rowBis">
                            <div ref="sliderImg" class="slider-img">
                                <div ref="sliderWrapper" class="slider-wrapper">
                                    <div ref="slide" class="slide-img" v-for="img in slides[current].arrImg">
                                        <img class="img" :alt="img[0]" :src="img[1]" />
                                    </div>
                                </div>
                            </div>
                            <div class="swipe animated shake">
                                <img src="../../assets/img/projects/finger-swipe.png" alt="swiper" class="swipe-img"/>
                            </div>
                        </div>
                    </div>
                </div>
            </transition-group>
            <transition-group v-else tag="div" :name="transitionName" class="slides-group">
                <div v-if="show" :key="current" class="slide">
                    <div class="row responsive" v-bind:style="{ width: this.widthScreen + 'px' }">
                        <div class="row column-rowBis column-rowPadding">
                            <div class="row project-title">
                                {{ slides[current].name }}
                            </div>
                            <div class="row description">
                                {{ slides[current].description }}
                            </div>
                            <div class="row project-bottom">
                                <div class="row column-rowBis">
                                    {{ slides[current].date }}
                                </div>
                                <div class="row column-rowBis">
                                    <div class="row-margin">
                                        {{ $t('projects.techno') }}
                                    </div>
                                    <div class="row center">
                                        <div class="techno-img" v-for="technoImg in slides[current].arrTechno">
                                            <img :class="technoImg[2]" :title="technoImg[0]" :alt="technoImg[0]" :src="technoImg[1]" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row column-rowBis responsiveMargin">
                            <div ref="sliderImg" class="slider-img">
                                <div ref="sliderWrapper" class="slider-wrapper">
                                    <div ref="slide" class="slide-img" v-for="img in slides[current].arrImg">
                                        <img class="img" :alt="img[0]" :src="img[1]" />
                                    </div>
                                </div>
                            </div>
                            <div class="swipe animated shake">
                                <img src="../../assets/img/projects/finger-swipe.png" alt="swiper" class="swipe-img"/>
                            </div>
                        </div>
                    </div>
                </div>
            </transition-group>
            <div class="btn btn-prev" aria-label="Previous slide" @click="slide(-1)">
                &#10094;
            </div>
            <div class="btn btn-next" aria-label="Next slide" @click="slide(1)">
                &#10095
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ProjetPerso",
    data: function() {
        return {
            totalProjects: 3,
            current: 0,
            direction: 1,
            transitionName: "fade",
            show: false,
            selected: 'worldList',
            id: 0,
            widthScreen: 0,
            container: 0, 
            container_width: 0, 
            imgs_wrapper: 0,
            imgs: 0,                    
            total_imgs: 0,
            current_index: 0,
            pointer_is_down: false,
            start_x: 0,
            end_x: 0,
            move_distance: 0,
            slides: [
                { 
                    name: this.$t('projects.projects.nameFichePoste'),
                    description: this.$t('projects.projects.descriptionFichePoste'),
                    date: this.$t('projects.cameOut'),
                    arrTechno: [
                        ['Node.js', './assets/img/projects/global/nodejs.png', "img-clair"],
                        ['Vue.js', './assets/img/projects/global/vuejs.png'],
                        ['Javascript', './assets/img/projects/global/js.png', "img-clair"],
                        ['HTML 5', './assets/img/projects/global/html5.png', "img-clair"],
                        ['CSS 3', './assets/img/projects/global/css3.png']
                    ],
                    arrImg: [
                        ['Work In Progress', './assets/img/projects/global/workInProgress.png'],
                        ['Work In Progress', './assets/img/projects/global/workInProgress.png']
                    ]
                },
                { 
                    name: this.$t('projects.projects.nameLocalisation'),
                    description: this.$t('projects.projects.descriptionLocalisation'),
                    date: this.$t('projects.cameOut'),
                    arrTechno: [
                        ['Node.js', './assets/img/projects/global/nodejs.png', "img-clair"],
                        ['Vue.js', './assets/img/projects/global/vuejs.png'],
                        ['Javascript', './assets/img/projects/global/js.png', "img-clair"],
                        ['HTML 5', './assets/img/projects/global/html5.png', "img-clair"],
                        ['CSS 3', './assets/img/projects/global/css3.png']
                    ],
                    arrImg: [
                        ['Work In Progress', './assets/img/projects/global/workInProgress.png'],
                        ['Work In Progress', './assets/img/projects/global/workInProgress.png']
                    ]
                },
                { 
                    name: this.$t('projects.projects.nameBGS'),
                    description: this.$t('projects.projects.descriptionBGS'),
                    date: this.$t('projects.cameOut'),
                    arrTechno: [
                        ['Unity', './assets/img/projects/global/unity.png', "img-big"]
                    ],
                    arrImg: [
                        ['Bear Gaming Studio Logo', './assets/img/projects/BGS/logoBGS.png'],
                        ['Work In Progress', './assets/img/projects/global/workInProgress.png']
                    ]
                },
                // Bug avec le select et pas interressant a mettre pour le moment
                // {
                //     arrApi: [
                //         {
                //             key: "worldList",
                //             name: this.$t('projects.apis.nameWorldList'),
                //             description: this.$t('projects.apis.descriptionWorldList'),
                //             arrayImg: [],
                //             date: this.$t('projects.apis.dateWorldList'),
                //             arrayTechno: [],
                //         },
                //         {
                //             key: "test",
                //             name: "test",
                //             description: "test",
                //             arrayImg: [],
                //             date: "test",
                //             arrayTechno: [],
                //         }
                //     ]
                // }
            ]
        }
    },
    methods: {
        slide(dir) {
            this.direction = dir;
            dir === 1
                ? (this.transitionName = "slide-next")
                : (this.transitionName = "slide-prev");
            var len = this.slides.length;
            this.current = (this.current + dir % len + len) % len;
            if(this.current == this.totalProjects) {
                //API
            } else {
                this.$nextTick(function() {
                    this.initInnerSlider();
                });
            }
        },
        change(name) {
            this.selected = name;
            if(this.selected == "worldList") this.id = 0;
            else if(this.selected == "test") this.id = 1;           
        },
        eventReziseProject() {
            this.widthScreen = window.innerWidth - (70 * 2);
        },
        handleMouseLeave(e) {
            if (!this.pointer_is_down) return false;
            this.pointer_is_down = false;
            [this.start_x, this.end_x] = [0, 0];
            this.switchImages();
        },
        initInnerSlider() {
            this.container = this.$refs.sliderImg;
            this.container_width = this.container.clientWidth;
            this.imgs_wrapper = this.$refs.sliderWrapper;
            this.imgs = this.$refs.slide;
            this.total_imgs = this.imgs.length;
            this.imgs_wrapper.style.width = `${this.container_width * this.total_imgs}px`;
        },
        createDraggingEffects() {
            const max_distance = 2;
            const scrolled_distance = (this.current_index * this.container_width) + (this.start_x - this.end_x) / max_distance;
            this.switchImages(-scrolled_distance);
        },
        calculateFinalMoveDistance() {
            const scrolled_distance = Math.abs(this.start_x - this.end_x);
            const minimum_distance = 30;
            if (scrolled_distance < minimum_distance) {
                this.move_distance = -(this.current_index * this.container_width);
                this.switchImages();
                return false;
            }
            if (this.start_x > this.end_x & this.current_index < this.total_imgs - 1) { // scroll next
                this.current_index++;
            } else if (this.start_x < this.end_x && this.current_index > 0) { // scroll prev
                this.current_index--;
            }
            this.move_distance = -(this.current_index * this.container_width);
            this.switchImages(this.move_distance);
        },
        switchImages(scrolled_number) {
            const distance = scrolled_number || this.move_distance;
            this.imgs_wrapper.style.transform = `translateX(${distance}px)`;
        }
    },
    mounted() {
        this.show = true;
        this.eventReziseProject();
        this.$nextTick(function() {
            this.initInnerSlider();
        });
    },
    created() {
        window.addEventListener("resize", this.eventReziseProject);
        window.addEventListener("mousedown", (e) => {
            e.preventDefault();
            this.pointer_is_down = true;
            this.start_x = e.pageX;
        });
        window.addEventListener("mousemove", (e) => {
            e.preventDefault();
            if (!this.pointer_is_down) return false;
            this.end_x = e.pageX;
            this.createDraggingEffects();
        });
        window.addEventListener("mouseup", (e) => {
            e.preventDefault();
            this.pointer_is_down = false;
            this.calculateFinalMoveDistance();
        });
        window.addEventListener("mouseleave", this.handleMouseLeave);
        window.addEventListener("touchstart", (e) => {
            this.pointer_is_down = true;
            this.start_x = e.touches[0].pageX;
        });
        window.addEventListener("touchmove", (e) => {
            if (!this.pointer_is_down) return false;
            this.end_x = e.touches[0].pageX;
            this.createDraggingEffects();
        });
        window.addEventListener("touchend", (e) => {
            this.pointer_is_down = false;
            this.calculateFinalMoveDistance();    
        });
    },
    destroyed() {
        window.removeEventListener("resize", this.eventReziseProject);
        window.removeEventListener("mousedown", (e) => {
            e.preventDefault();
            this.pointer_is_down = true;
            this.start_x = e.pageX;
        });
        window.removeEventListener("mousemove", (e) => {
            e.preventDefault();
            if (!this.pointer_is_down) return false;
            this.end_x = e.pageX;
            this.createDraggingEffects();
        });
        window.removeEventListener("mouseup", (e) => {
            e.preventDefault();
            this.pointer_is_down = false;
            this.calculateFinalMoveDistance();
        });
        window.removeEventListener("mouseleave", this.handleMouseLeave);
        window.removeEventListener("touchstart", (e) => {
            this.pointer_is_down = true;
            this.start_x = e.touches[0].pageX;
        });
        window.removeEventListener("touchmove", (e) => {
            if (!this.pointer_is_down) return false;
            this.end_x = e.touches[0].pageX;
            this.createDraggingEffects();
        });
        window.removeEventListener("touchend", (e) => {
            this.pointer_is_down = false;
            this.calculateFinalMoveDistance();    
        });
    }
}
</script>

<style scoped>
/* SLIDER */
/* FADE IN */
.fade-enter-active {
  transition: opacity 1s;
}
.fade-enter {
  opacity: 0;
}

/* GO TO NEXT SLIDE */
.slide-next-enter-active,
.slide-next-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slide-next-enter {
  transform: translate(100%);
}
.slide-next-leave-to {
  transform: translate(-100%);
}

/* GO TO PREVIOUS SLIDE */
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slide-prev-enter {
  transform: translate(-100%);
}
.slide-prev-leave-to {
  transform: translate(100%);
}

/* SLIDER STYLES */
#slider {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slide {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  z-index: 10;
  cursor: pointer;
  border: 2px solid #00000017;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  top: calc(50% - 25px);
  left: 1%;
  transition: transform 0.3s ease-in-out;
  user-select: none;
}

.btn-next {
  left: auto;
  right: 1%;
}

.btn:hover {
  transform: scale(1.1);
}


/* SELECT  */
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 57px;
    padding: 10px 38px 10px 16px;
    background-size: 10px;
    transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}
.custom-select:hover {
    border: 1px solid #999;
}
.custom-select:focus {
    border: 1px solid #999;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    outline: none;
}
/* remove default arrow in IE */
select::-ms-expand {
    display:none;
}

/* INNER SLIDE */
.column-rowPadding {
    padding: 15px;
}
.column-rowBis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* INNER SLIDER */
.slider-img {
  width: 530px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-wrapper {
  height: 500px;
  transition: transform 0.3s;
}

.slide-img {
  position: relative;
  float: left;
  width: 530px;
  height: 500px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  pointer-events: none;
}

.slide-img::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.swipe {
  margin-top: 2.5rem;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.techno-img img {
    width: 50px;
}

.techno-img {
    display: inline-block;
    flex: 1;
    text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
    text-align: justify;
    margin: auto;
}

.project-title {
    color: black;
    pointer-events: none;
    white-space: nowrap;
    letter-spacing: 0.1em;
    font-size: 2em;
    text-transform: uppercase;
    font-family: Poppins-Bold !important;
    margin-top: 50px;
}

.project-bottom {
    margin-bottom: 50px;
}

.img-big {
    width: 150px !important;
}

.row-margin {
    margin-bottom: 30px;
    font-weight: 700;
    text-decoration: underline;
}

/* RESPONSIVE */

@media only screen and (max-width: 1045px) {
    .responsive {
        top: -50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #ProjetPerso-container {
        height: 1000px;
    }
    .responsiveMargin {
        margin-top: -100px;
    }
    .row-margin {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 655px) {
    .techno-img img {
        width: 35px;
    }
    .slider-img, .slide-img {
        width: 500px !important;
    }
}

@media only screen and (max-width: 615px) {
    .techno-img img {
        width: 25px;
    }
    .slider-img, .slide-img {
        margin-top: 25px;
        width: 400px !important;
    }
    .slide-img img {
        height: 300px !important;
    }
}

@media only screen and (max-width: 615px) {
    .responsiveMargin {
        display: none;
    }
    #ProjetPerso-container {
        height: 600px;
    }
}

@media only screen and (max-width: 500px) {
    .project-bottom {
        flex-direction: column;
    }
    .project-title, .description {
        margin-bottom: 50px;
    }

}

@media only screen and (max-width: 410px) {
    .project-title {
        font-size: 1.5em;
    }
}
</style>