<template>
    <div id="Propos-container" :style="globalColor">
        <div class="row">     
          <div data-aos="zoom-in-down"
               data-aos-offset="200"
               data-aos-easing="ease-in-sine"
               class="title-big">
              <h3 :data-before="$t('about.about')">
                {{ $t('about.about') }}
              </h3>
          </div>     
        </div>
        <div class="row">     
            <div data-aos="fade-up" 
                 data-aos-offset="400"
                 data-aos-easing="ease-in-sine"
                id="phone-container">
                <img alt="templateIphone" src="../../assets/img/propos/templateIphone.png" />
                <div id="phone-inner" class="scrollbar">
                    <div id="discuss-container" class="overflow">
                        <p class="from-them">{{ $t('about.ask1') }}</p>
                        <p class="from-me">{{ $t('about.res1') }}</p>
                        <p class="from-me img-message">
                            <img alt="image profil" src="../../assets/img/propos/profil.jpg" />
                        </p>
                        <p class="from-me">{{ $t('about.res11') }}</p>
                        <p class="from-them">{{ $t('about.ask2') }}</p>
                        <p class="from-me">{{ $t('about.res2') }}</p>
                        <p class="from-them">{{ $t('about.ask3') }}</p>
                        <p class="from-me">{{ $t('about.res3') }}</p>
                        <p class="from-them">{{ $t('about.ask4') }}</p>
                        <p class="from-me">{{ $t('about.res41') }}</p>
                        <p class="from-me">
                            <a class="file" target="_blank" href="https://drive.google.com/file/d/1fT5_GvDrP9LdJhotmeFiDXzIafg4HkKT/view?usp=sharing">
                                <i class="fas fa-file-alt"></i>
                            </a>
                        </p>
                        <div class="chat-bubble">
                            <div class="loading">
                                <div class="dot one"></div>
                                <div class="dot two"></div>
                                <div class="dot three"></div>
                            </div>
                            <div class="tail"></div>
                        </div>
                    </div>
                </div> 
            </div>  
        </div>
    </div>
</template>

<script>
export default {
  name: "propos",
  computed: {
    globalColor() {
      return {
        '--globalColor': this.$parent.$parent.globalColor   
      }
    }
  }
}
</script>

<style lang="scss" scoped>
$globalColor: var(--globalColor);

/* CONTAINER  */
#Propos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
}

#discuss-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18.5em;
    padding: 15px;
}

#discuss-container p {
    align-items: center;
}

img {
    width: 30em;
}

#phone-container {
    position: relative;
}

#phone-inner {
    position: absolute;
    top: 100px;
    left: 70px;
    height: 51.777em;
    border-radius: 35px;
}

/* DISCUSSION */
p {
  max-width: 14em;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
}

p:before,
p:after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 20px;
}

.from-me {
  color: white;
  background: $globalColor;
  align-self: flex-end;
  text-align: left;
}

.from-me img {
    width: 14em;
    border-radius: 25px; 
}

.from-me:before {
    right: -7px;
    border-right: 20px solid $globalColor;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px);
}

.from-me:after {
    right: -56px;
    width: 26px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -3px);
            transform: translate(-30px, -3px);
}

.from-them {
  background: #e5e5ea;
  color: black;
  text-align: left;
}

.from-them:before {
    left: -7px;
    border-left: 20px solid #e5e5ea;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px);
}

.from-them:after {
  left: 4px;
  width: 26px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
   transform: translate(-30px, -2px);
}

.img-message {
    padding: 0 !important;
    z-index: 1;
    height: 15.08em;
}

.img-message::before {
    z-index: -1;
}

.file {
    color: #fff;
    font-size: 3em;
}

.scrollbar::-webkit-scrollbar {
    background-color:#fff;
    width:16px;
    z-index: -1;
}

.scrollbar::-webkit-scrollbar-track {
    background-color:#fff
}
.scrollbar::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

.scrollbar::-webkit-scrollbar-button {display:none}

.scrollbar {
    min-width: 150px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.overflow{min-height: 100vh}

/* EN ATTENTE DE REPONSE */
.chat-bubble {
  height: 72px;
  width: 46px;
  background: #e5e5e5;
  position: relative;
  left: 50px;
  margin-bottom: 30px;
}

.chat-bubble:before {
  content: '';
  height: 72px;
  width: 72px;
  left: -36px;
  position: absolute;
  display: block;
  background: #e5e5e5;
  border-radius: 50%;
  z-index: 1;
}
.chat-bubble:after {
  content: '';
  height: 72px;
  width: 72px;
  right: -36px;
  position: absolute;
  display: block;
  background: #e5e5e5;
  border-radius: 50%;
  z-index: 1;
}
.chat-bubble .tail {
  height: 25px;
  width: 25px;
  background: #e5e5e5;
  position: absolute;
  left: -40px;
  bottom: 2px;
  border-radius: 50%;
}
.chat-bubble .tail:before {
  height: 12px;
  width: 12px;
  background: #e5e5e5;
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  bottom: -8px;
}
.chat-bubble .loading {
  position: absolute;
  z-index: 10;
  width: 67px;
  left: -11px;
  top: 27px;
}
.chat-bubble .loading .dot {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #c1c1c1;
  display: block;
  float: left;
  margin: 0 0 0 8px;
}
.chat-bubble .loading .dot:first-child {
  margin: 0;
}
.chat-bubble .loading .dot.one {
  -webkit-animation: cycleOne 1s ease-in-out infinite;
  -webkit-animation-direction: normal;
}
.chat-bubble .loading .dot.two {
  -webkit-animation: cycleTwo 1s ease-in-out infinite;
  -webkit-animation-direction: normal;
}
.chat-bubble .loading .dot.three {
  -webkit-animation: cycleThree 1s ease-in-out infinite;
  -webkit-animation-direction: normal;
}

@-webkit-keyframes cycleOne {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: #969696;
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}
@-webkit-keyframes cycleTwo {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: #969696;
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}
@-webkit-keyframes cycleThree {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: #969696;
  }
}


/* RESPONSIVE */


@media only screen and (max-width: 480px) {
  img {
    width: 25em;
  }
  #phone-inner {
    top: 55px;
    left: 27px;
    height: 43.9em;
    border-radius: 60px; 
  }
}

@media only screen and (max-width: 425px) {
  img {
    width: 19.5em;
  }

  #phone-inner {
    top: 50px;
    left: 25px;
    height: 34em;
    border-radius: 25px; 
  }

  #discuss-container {
    width: 13.5em;
  }

}

@-moz-document url-prefix() {
  p::before, p::after {
    bottom: 1px !important;
  }
}
</style>