<template>
    <div id="Reference-container" :style="globalColor">
        <div class="row">
            <h3>{{ $t('reference.title') }}</h3>
        </div>
        <div class="row">
            <div class="wrap">
                <ul class="clients">
                    <li data-aos="zoom-in" 
                        data-aos-offset="200"
                        data-aos-delay="0"
                        data-aos-easing="ease-in-sine">
                        <a href="https://www.b2rhconseil.com/" target="_blank">
                            <img src="../../assets/img/reference/b2RhConseil.png" alt="logo B2 RH Conseil" />
                        </a>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="200"
                        data-aos-delay="200"
                        data-aos-easing="ease-in-sine">
                        <a href="https://www.soprasteria.com/fr" target="_blank">
                            <img class="tooBig" src="../../assets/img/reference/sopraSteria.png" alt="logo Sopra Steria" />
                        </a>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="200"
                        data-aos-delay="400"
                        data-aos-easing="ease-in-sine">
                        <a href="https://www.it-ce.fr/" target="_blank">
                            <img src="../../assets/img/reference/ITCE.png" alt="logo ITCE" />
                        </a>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="200"
                        data-aos-delay="600"
                        data-aos-easing="ease-in-sine">
                        <a href="https://www.highco-data.fr/" target="_blank">
                            <img src="../../assets/img/reference/highCoData.png" alt="logo HighCo Data" />
                        </a>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="200"
                        data-aos-delay="800"
                        data-aos-easing="ease-in-sine">
                        <a href="https://www.arhs-group.com/" target="_blank">
                            <img src="../../assets/img/reference/arhsCube.png" alt="logo ArhsCube" />
                        </a>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="200"
                        data-aos-delay="1000"
                        data-aos-easing="ease-in-sine">
                        <a href="https://agence-web-aix-en-provence.fr/" target="_blank">
                            <img src="../../assets/img/reference/ePartenaire.png" alt="logo ePartenaire" />
                        </a>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="200"
                        data-aos-delay="1200"
                        data-aos-easing="ease-in-sine">
                        <a href="http://www.osteomaury.fr/" target="_blank">
                            <img src="../../assets/img/reference/candiceMauryOsteo.png" alt="logo ostéo" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'reference',
    computed: {
        globalColor() {
            return {
                '--globalColor': this.$parent.$parent.globalColor   
            }
        }
    }
}
</script>

<style lang="scss" scoped>
$globalColor: var(--globalColor);

#Reference-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  padding-bottom: 6px;
  color: #000;
  letter-spacing: 0.3px;
  padding: 0;
}

h3::after {
    content: "";
    height: 3px;
    background: $globalColor;
    width: 10em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 35px;
}

.wrap {
    width: 100%;
    margin-top: 50px;
    padding: 0 25px;
}

.clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between
}

.clients li {
  list-style: none;
  margin: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  flex-wrap: nowrap;
  vertical-align:middle;
  display: block;
  height: 100px;
  line-height: 100px;
  padding: 0 15px;
}

.clients img {
  width: 6em;
  text-align: center;
  vertical-align: middle;
}

.tooBig {
  width: 4em !important;
}

.clients li:hover {
-webkit-transform: translateY(-0.3rem);
transform: translateY(-0.3rem); 
}

/* --- Images (gray logo) --- */
.clients img {
  -webkit-filter: grayscale(100%) brightness(10%) contrast(10%);
          filter: grayscale(100%) brightness(10%) contrast(10%); }

.clients img:hover {
  background: none;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

</style>