<template>
  <div id="Services" :style="globalColor">
      <div class="row">     
        <div data-aos="zoom-in-down"
             data-aos-offset="200"
             data-aos-easing="ease-in-sine"
             class="title-big">
            <h3 class="title-light" :data-before="$t('services.title')">
              {{ $t('services.title') }}
            </h3>
        </div>     
      </div>
      <div data-aos="fade-up" 
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <div class="row">     
          <div class="services-choice">
            <a v-on:click="change(0)" class="services-choice-item item0">
              {{ $t('services.web') }}
            </a>
          </div>
          <div class="point-sep"></div>
          <div class="services-choice">
            <a v-on:click="change(1)" class="services-choice-item item1">
              {{ $t('services.mobile') }}
            </a>
          </div>
          <div class="point-sep"></div>
          <div class="services-choice">
            <a v-on:click="change(2)" class="services-choice-item item2">
              {{ $t('services.desktop') }}
            </a>
          </div>
        </div>
        <div v-if="selected == 0" class="row column-row services-section">
          <div v-html="$t('services.webText')" class="inner-row"></div>
          <div class="inner-row">
            <div class="little-infos">{{ $t('services.showcase') }}</div>
            <div class="little-infos">{{ $t('services.eCommerce') }}</div>
            <div class="little-infos">{{ $t('services.application') }}</div>
            <div class="little-infos">{{ $t('services.blog') }}</div>
          </div>
          <div class="inner-row">
            <div class="svg-animation-responsive">
              <svg id="svgResponsive" xmlns="http://www.w3.org/2000/svg" width="100%" height="350" viewBox="0 0 600 600"><defs><clipPath id="monitorEdgeMask"><path class="monitorEdgeMask" fill="#494D5D" d="M559.7 79h-520C32.5 79 27 84.6 27 91.8V403h546V91.8c0-7.2-6.1-12.8-13.3-12.8z"/></clipPath><clipPath id="laptopBaseMask"><path class="laptopBaseMask" fill="#FFFAEB" d="M487 409v15.5c0 3.8-3.2 7.5-7 7.5H120c-3.8 0-7-3.7-7-7.5V409h374z"/></clipPath><clipPath id="monitorStandMask"><path class="monitorStandMask" fill="#EA2877" d="M23 455h550v102H23z"/></clipPath><clipPath id="tabletContentGroupMask"><path class="tabletContentGroupMask" fill="#BDCCD4" d="M218.5 386.5v-203c0-2.8 2.3-5 5-5h153c2.8 0 5 2.3 5 5v203c0 2.8-2.3 5-5 5h-153c-2.7 0-5-2.2-5-5z"/></clipPath></defs><g class="monitorGroup"><g class="monitorStandGroup" clip-path="url(#monitorStandMask)"><path class="monitorStand" fill="#FFFAEB" d="M386.3 512H374l-20.7-57h-106L226 512h-12.3c-2.6 0-4.7 1.9-4.7 4.5s2.1 4.5 4.7 4.5h172.7c2.6 0 4.7-1.9 4.7-4.5s-2.2-4.5-4.8-4.5z"/></g><path class="monitorStandShadow" fill="#D9D7D3" d="M357.4 467H242.6l4.5-12h106"/><g class="monitorEdgeGroup" clip-path="url(#monitorEdgeMask)"><path class="monitorEdge" fill="#494D5D" d="M559.7 79h-520C32.5 79 27 84.6 27 91.8V403h546V91.8c0-7.2-6.1-12.8-13.3-12.8z"/><path class="monitorScreen" fill="#BDCCD4" d="M544.5 383.3h-489c-3.8 0-7-3.1-7-7v-271c0-3.8 3.2-7 7-7h489c3.8 0 7 3.2 7 7v271c0 3.8-3.2 7-7 7z"/><g class="monitorContentGroup" opacity=".6"><path fill="#E5EBEE" d="M526.8 145H73.2c-3.2 0-5.7-2.6-5.7-5.7v-15.5c0-3.2 2.6-5.7 5.7-5.7h453.5c3.2 0 5.7 2.6 5.7 5.7v15.5c.1 3.1-2.5 5.7-5.6 5.7z"/><path fill="#8CA5B2" d="M157.9 364.5H73.1c-3.1 0-5.6-2.5-5.6-5.6v-58.7c0-3.1 2.5-5.6 5.6-5.6h84.7c3.1 0 5.6 2.5 5.6 5.6v58.7c.1 3.1-2.4 5.6-5.5 5.6z"/><path fill="#8CA5B2" d="M526.9 272.5H73.1c-3.1 0-5.6-2.5-5.6-5.6v-93.7c0-3.1 2.5-5.6 5.6-5.6h453.7c3.1 0 5.6 2.5 5.6 5.6v93.7c.1 3.1-2.4 5.6-5.5 5.6z"/><path fill="#E5EBEE" d="M530.5 306H190.2c-1.1 0-2-.9-2-2v-7.5c0-1.1.9-2 2-2h340.3c1.1 0 2 .9 2 2v7.5c0 1.1-.9 2-2 2z"/><path fill="#E5EBEE" d="M530.5 334.3H190.2c-1.1 0-2-.9-2-2v-7.5c0-1.1.9-2 2-2h340.3c1.1 0 2 .9 2 2v7.5c0 1.1-.9 2-2 2z"/><path fill="#E5EBEE" d="M530.5 364.5H190.2c-1.1 0-2-.9-2-2V355c0-1.1.9-2 2-2h340.3c1.1 0 2 .9 2 2v7.5c0 1.1-.9 2-2 2z"/></g></g><path class="monitorBottom" fill="#FFFAEB" d="M573 403v39c0 7.1-6.1 13-13.3 13h-520c-7.2 0-12.7-5.9-12.7-13v-39h546z"/><circle class="monitorLogo" fill="#A4ACBB" cx="300" cy="426" r="10"/></g><g class="laptopGroup"><path class="laptopEdgeLeft" fill="#FFFAEB" d="M310 401.5H131.5v-226c0-3.9 3.2-7 7-7H310"/><path class="laptopEdgeRight" fill="#FFFAEB" d="M290 168.5h171.5c3.8 0 7 3.1 7 7v226H290"/><g class="laptopBaseGroup" clip-path="url(#laptopBaseMask)"><path class="laptopBase" fill="#FFFAEB" d="M487 409v15.5c0 3.8-3.2 7.5-7 7.5H120c-3.8 0-7-3.7-7-7.5V409h374z"/></g><path class="laptopTrackpad" fill="#A4ACBB" d="M326.7 421.8h-53.4l-5-7.6h63.4"/><path class="laptopScreen" fill="#BDCCD4" d="M452.7 391.9H147.3c-3.8 0-7-3.1-7-7V185.6c0-3.8 3.2-7 7-7h305.3c3.9 0 7 3.2 7 7v199.3c.1 3.9-3.1 7-6.9 7z"/><g class="laptopContentGroup" opacity=".6"><path fill="#E5EBEE" d="M437.8 212.3H164.1c-1.9 0-3.5-1.6-3.5-3.5v-9.4c0-1.9 1.6-3.5 3.5-3.5h273.7c1.9 0 3.5 1.6 3.5 3.5v9.4c-.1 1.9-1.6 3.5-3.5 3.5z"/><path fill="#8CA5B2" d="M215.1 363.8H164c-1.9 0-3.4-1.5-3.4-3.4V325c0-1.9 1.5-3.4 3.4-3.4h51.1c1.9 0 3.4 1.5 3.4 3.4v35.4c0 1.9-1.5 3.4-3.4 3.4z"/><path fill="#8CA5B2" d="M437.8 307.3H164c-1.9 0-3.4-1.5-3.4-3.4v-74.6c0-1.9 1.5-3.4 3.4-3.4h273.8c1.9 0 3.4 1.5 3.4 3.4v74.6c0 1.9-1.5 3.4-3.4 3.4z"/><path fill="#E5EBEE" d="M440 328.5H234.6c-.7 0-1.2-.5-1.2-1.2v-4.5c0-.7.5-1.2 1.2-1.2H440c.7 0 1.2.5 1.2 1.2v4.5c0 .6-.5 1.2-1.2 1.2z"/><path fill="#E5EBEE" d="M440 345.5H234.6c-.7 0-1.2-.5-1.2-1.2v-4.5c0-.7.5-1.2 1.2-1.2H440c.7 0 1.2.5 1.2 1.2v4.5c0 .7-.5 1.2-1.2 1.2z"/><path fill="#E5EBEE" d="M440 363.8H234.6c-.7 0-1.2-.5-1.2-1.2v-4.5c0-.7.5-1.2 1.2-1.2H440c.7 0 1.2.5 1.2 1.2v4.5c0 .7-.5 1.2-1.2 1.2z"/></g></g><g class="phoneGroup" opacity="0"><path class="phoneEdge" fill="#FFFAEB" d="M255.2 371.4V198.6c0-3.2 2.7-5.9 5.9-5.9H339c3.2 0 5.9 2.7 5.9 5.9v172.9c0 3.2-2.7 5.9-5.9 5.9h-77.9c-3.3-.1-5.9-2.7-5.9-6z"/><circle class="phoneButton" fill="#9AA3B2" cx="300" cy="363.1" r="6"/><circle class="phoneCamera" fill="#A4ACBB" cx="284.3" cy="203.6" r="1.5"/><path class="phoneScreen" fill="#BDCCD4" d="M262.1 214.3h75.7v135.3h-75.7z"/><path class="phoneSpeaker" fill="none" stroke="#9AA3B2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M292.5 203h15"/><g class="phoneContentGroup" opacity=".6"><path fill="#E5EBEE" d="M327.8 235.6h-55.3c-1 0-1.9-.9-1.9-1.9v-7.3c0-1 .9-1.9 1.9-1.9h55.3c1 0 1.9.9 1.9 1.9v7.3c0 1.1-.9 1.9-1.9 1.9z"/><path fill="#8CA5B2" d="M294.3 338.7h-21.9c-1 0-1.9-.8-1.9-1.9v-25c0-1 .8-1.9 1.9-1.9h21.9c1 0 1.9.8 1.9 1.9v25c0 1-.9 1.9-1.9 1.9z"/><path fill="#8CA5B2" d="M327.8 300.3h-55.4c-1 0-1.9-.8-1.9-1.9v-51.7c0-1 .8-1.9 1.9-1.9h55.4c1 0 1.9.8 1.9 1.9v51.7c0 1-.9 1.9-1.9 1.9z"/><path fill="#E5EBEE" d="M329 314.7h-25.6c-.4 0-.7-.3-.7-.7v-3.4c0-.4.3-.7.7-.7H329c.4 0 .7.3.7.7v3.4c0 .4-.3.7-.7.7z"/><path fill="#E5EBEE" d="M329 338.7h-25.6c-.4 0-.7-.3-.7-.7v-3.4c0-.4.3-.7.7-.7H329c.4 0 .7.3.7.7v3.4c0 .4-.3.7-.7.7z"/><path fill="#E5EBEE" d="M329 326.3h-25.6c-.4 0-.7-.3-.7-.7v-3.4c0-.4.3-.7.7-.7H329c.4 0 .7.3.7.7v3.4c0 .4-.3.7-.7.7z"/></g></g><g class="tabletGroup"><path class="tabletEdge" fill="#FFFAEB" d="M198.5 404.5v-239c0-7.7 6.3-14 14-14h175c7.7 0 14 6.3 14 14v239c0 7.7-6.3 14-14 14h-175c-7.7 0-14-6.3-14-14z"/><path class="tabletScreen" fill="#BDCCD4" d="M218.5 386.5v-203c0-2.8 2.3-5 5-5h153c2.8 0 5 2.3 5 5v203c0 2.8-2.3 5-5 5h-153c-2.7 0-5-2.2-5-5z"/><circle class="tabletButton" fill="#A4ACBB" cx="300" cy="406" r="6"/><circle class="tabletCamera" fill="#A4ACBB" cx="300" cy="168" r="2"/><g class="maskedTabletContentGroup" clip-path="url(#tabletContentGroupMask)"><g class="tabletContentGroup" opacity=".6"><path fill="#E5EBEE" d="M363.6 217.4H236.9c-1.9 0-3.5-1.6-3.5-3.5v-9.4c0-1.9 1.6-3.5 3.5-3.5h126.7c1.9 0 3.5 1.6 3.5 3.5v9.4c-.1 1.9-1.6 3.5-3.5 3.5z"/><path fill="#8CA5B2" d="M288 368.9h-51.1c-1.9 0-3.4-1.5-3.4-3.4v-35.4c0-1.9 1.5-3.4 3.4-3.4H288c1.9 0 3.4 1.5 3.4 3.4v35.4c0 1.9-1.6 3.4-3.4 3.4z"/><path fill="#8CA5B2" d="M363.6 312.4H236.8c-1.9 0-3.4-1.5-3.4-3.4v-74.6c0-1.9 1.5-3.4 3.4-3.4h126.8c1.9 0 3.4 1.5 3.4 3.4V309c0 1.9-1.5 3.4-3.4 3.4z"/><path fill="#E5EBEE" d="M365.8 333.6h-58.4c-.7 0-1.2-.5-1.2-1.2v-4.5c0-.7.5-1.2 1.2-1.2h58.4c.7 0 1.2.5 1.2 1.2v4.5c0 .7-.5 1.2-1.2 1.2z"/><path fill="#E5EBEE" d="M365.8 368.9h-58.4c-.7 0-1.2-.5-1.2-1.2v-4.5c0-.7.5-1.2 1.2-1.2h58.4c.7 0 1.2.5 1.2 1.2v4.5c0 .7-.5 1.2-1.2 1.2z"/><path fill="#E5EBEE" d="M365.8 350.6h-58.4c-.7 0-1.2-.5-1.2-1.2v-4.5c0-.7.5-1.2 1.2-1.2h58.4c.7 0 1.2.5 1.2 1.2v4.5c0 .7-.5 1.2-1.2 1.2z"/></g></g></g></svg>
            </div>
          </div>
        </div>
        <div v-if="selected == 1" class="row column-row services-section">
          <div class="inner-row">
            {{ $t('services.mobileText') }}
          </div>
          <div class="inner-row">
              <div class="little-infos">{{ $t('services.eCommerce') }}</div>
              <div class="little-infos">{{ $t('services.booking') }}</div>
              <div class="little-infos">{{ $t('services.job') }}</div>
              <div class="little-infos">{{ $t('services.news') }}</div>
              <div class="little-infos">{{ $t('services.utility') }}</div>
          </div>
          <div class="inner-row">
            <div class="phone">
              <div class="shadow"></div>
              <div class="speaker"></div>
              <div class="camera"></div>
              <div class="screen">
                <div class="contents">
                  <div class="menubar">
                    <div class="menu-icon"></div>
                    <div class="menu-icon"></div>
                    <div class="menu-icon"></div>
                  </div>
                  <div class="entry" id="focus">
                    <div class="entry-content">
                      <div class="profiler"></div>
                      <div class="title"></div>
                      <div class="text"></div>
                      <div class="text"></div>
                      <div class="add-content"></div>
                      <div class="add-content"></div>
                      <div class="add-content"></div>
                      <div class="add-content"></div>
                      <div class="add-content"></div>
                      <div class="add-content"></div>
                    </div>
                  </div>
                  <div class="entry">
                    <div class="entry-content">
                      <div class="profiler"></div>
                      <div class="title"></div>
                      <div class="text"></div>
                      <div class="text"></div>
                    </div>
                  </div>
                  <div class="entry">
                    <div class="entry-content">
                      <div class="profiler"></div>
                      <div class="title"></div>
                      <div class="text"></div>
                      <div class="text"></div>
                    </div>
                  </div>
                  <div class="entry">
                    <div class="entry-content">
                      <div class="profiler"></div>
                      <div class="title"></div>
                      <div class="text"></div>
                      <div class="text"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn"></div>
            </div>
          </div>
        </div>
        <div v-if="selected == 2" class="row column-row services-section">
          <div class="inner-row">
            {{ $t('services.desktopText') }}
          </div>
          <div class="inner-row">
              <div class="little-infos">{{ $t('services.utility') }}</div>
              <div class="little-infos">{{ $t('services.management') }}</div>
              <div class="little-infos">{{ $t('services.admin') }}</div>
          </div>
          <div class="inner-row">
            <div class="wrapper">  
              <div class="grid">
                <div class="grid--cell">
                  <div class="animation-wrapper animation-wrapper--webapp-bg">
                    <div class="absolute web-hardware web-hardware--desktop">
                      <div class="web-screen web-screen--webapp-desktop">
                        <div class="screen-shine"></div>
                      </div>
                    </div>
                    <div class="absolute web-hardware web-hardware--mobile">
                      <div class="web-screen web-screen--webapp-mobile">
                        <div class="screen-shine"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "services",
  data: function() {
    return {
      selected: 0
    }
  },
  methods: {
    change(id, first = false) {
      if(id == 0) {
        if(this.selected !==  0 && first == false) setTimeout(() => { this.svgAnimationResponsive() }, 500);
        else if (first == true) setTimeout(() => { this.svgAnimationResponsive() }, 500);
      }
      this.selected = id;
      let allElement = document.getElementsByClassName('services-choice-item');
      let myElement = document.getElementsByClassName('item'+id);
      allElement.forEach(element => {
        element.classList.add('notSelected');
        element.classList.remove('selected');
      });
      myElement.forEach(element => {
        element.classList.remove('notSelected');
        element.classList.add('selected');
      });    
    },
    svgAnimationResponsive() {
      (function(){var a=function(a){return document.querySelector(a)},t=document.querySelectorAll(".monitorContentGroup path");a(".monitorGroup");var f=a(".monitorScreen"),g=a(".monitorLogo"),h=a(".monitorStand"),u=a(".monitorStandShadow"),c=a(".monitorBottom"),v=a(".monitorEdge"),C=document.querySelectorAll(".laptopContentGroup path"),w=a(".laptopContentGroup"),x=a(".laptopGroup"),d=a(".laptopScreen"),k=a(".laptopEdgeLeft"),l=a(".laptopEdgeRight"),m=a(".laptopTrackpad"),n=a(".laptopBase");document.querySelectorAll(".tabletContentGroup path");
      var e=a(".tabletContentGroup"),b=a(".tabletGroup"),p=a(".tabletButton"),q=a(".tabletCamera"),y=a(".tabletScreen"),r=a(".phoneGroup"),z=a(".phoneButton"),A=a(".phoneCamera"),a=a(".phoneSpeaker");TweenMax.set([c],{transformOrigin:"50% 100%"});TweenMax.set([h,n,y],{transformOrigin:"50% 0%"});TweenMax.set([g,f,d,m,b,x,p,q,e,z,A,a,w,r],{transformOrigin:"50% 50%"});TweenMax.set([k,l],{transformOrigin:"0% 100%"});TweenMax.set(b,{rotation:-90});var B=new TimelineMax({repeat:-1,delay:1,yoyo:!1,paused:!1});
      B.timeScale(3);B.from(c,1,{scaleY:0,ease:Power1.easeOut}).from(h,1,{y:-70,ease:Power1.easeOut},"-=1").from(u,.5,{alpha:0,ease:Power1.easeIn},"-=0.5").from(v,1,{y:330},"-=0.25").from(f,2,{y:330,ease:Power1.easeOut},"-=1").staggerFrom(t,1,{scaleX:0},.1,"-=0.51").from(g,1,{scale:0,ease:Back.easeOut.config(2)}).staggerTo(t,1,{alpha:0,delay:2},.1).to(f,1,{y:330,ease:Power1.easeIn},"-=1").to(v,1,{y:330,ease:Power1.easeIn},"-=0.75").to(c,1,{scaleX:.69,y:-23}).to(c,1,{scaleY:.45,alpha:1},"-=1").set(c,{alpha:0}).to(g,
      .5,{scale:0,ease:Back.easeIn},"-=1").to(h,1,{y:-120},"-=1.5").to(u,.5,{alpha:0},"-=1.5").from(n,1,{alpha:0},"-=1").from(m,1,{scaleX:0},"-=1").from(d,1,{scale:0,ease:Back.easeOut.config(.5)}).from(k,2,{skewX:-40,scaleY:0,ease:Power3.easeOut},"-=2").from(l,2,{skewX:40,scaleY:0,ease:Power3.easeOut},"-=2").staggerFrom(C,1,{scaleX:0},.1).to(m,.3,{alpha:0,delay:2}).to(d,1,{scaleX:.67}).to(d,1,{scaleY:.8},"-=1").to(w,1,{alpha:0,scale:.5},"-=1").to(n,1,{y:-20,scaleX:0},"-=1").to(k,1,{x:40,transformOrigin:"50% 50%",
      scaleY:.85},"-=1").to(l,1,{x:-40,transformOrigin:"50% 50%",scaleY:.85},"-=1").set(x,{alpha:0}).from(b,1,{scale:1.1,alpha:0},"-=1").to(b,2,{rotation:0,delay:2,ease:'easeOut'}).staggerFrom([p,q],.5,{scale:0,ease:Back.easeOut},.1,"-=1").from(e,2,{rotation:90,scaleX:1.33,scaleY:.8,ease:Power3.easeInOut},"-=0").to([p,q],.5,{scale:0,delay:2}).to(b,1,{scaleX:.45}).to(b,1,{scaleY:.7},"-=1").to(e,1,{y:-5},"-=1").to(y,.5,{scaleY:.92,y:4},"-=0.5").set(r,{alpha:1}).set([b,e],{alpha:0}).staggerFrom([z,
      A,a],1,{scale:0,ease:Back.easeOut},.1).to(r,2,{y:80,delay:2,ease:Back.easeIn.config(2)});TweenMax.set("svg",{visibility:"visible"})})();
    },
  },
  mounted() {
    this.change(0, true);
  },
  computed: {
    globalColor() {
      return {
        '--globalColor': this.$parent.$parent.globalColor   
      }
    }
  }
}
</script>

<style lang="scss" scoped>
/* CONTAINER  */
#Services {
  background: linear-gradient(135deg, #1d1e21 0%, #3e4246 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
}


/* Menu */
.services-choice-item {
  text-transform: uppercase;
  color: #EEE;
  position: relative;
	display: inline-block;
  outline: none;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.25em;
}

.notSelected:hover, .notSelected:focus {
  outline: none;
  opacity: 1;
}

.services-choice-item {
	padding: 12px 10px 10px;
	text-shadow: none;
	font-weight: 700;
  cursor: pointer;
}

.notSelected::before,
.notSelected::after,
.selected::before,
.selected::after {
	position: absolute;
	top: 85%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #566473;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.notSelected::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.notSelected:hover::before,
.notSelected:hover::after,
.notSelected:focus::before,
.notSelected:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.notSelected:hover::after,
.notSelected:focus::after {
	top: 0%;
	opacity: 1;
}

.point-sep {
  margin: 25px 20px;
  width: 6px;
  height: 6px;
  background: hsla(0,0%,100%,.1);
  border-radius: 6px;
}

.notSelected {
  opacity: 0.35;
}

.selected {
  opacity: 1;
  top: 0%;
  -webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.little-infos {
  color: grey;
  border: 1px solid darkgrey;
  margin-right: 6px;
  font-size: 8px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 8px 3px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
}

.inner-row {
  color: #EEE;
  margin: 20px 0;
}
</style>

<style lang="scss" scoped>

// SVG ANIMATION RESPONSIVE
.svg-animation-responsive {
  visibility:hidden;
}


//SVG ANIMATION PHONE
.phone {
  text-align: left !important;
  position: relative;
  height: 435px;
  width: 230px;
  border-radius: 50px;
  margin: 20px auto;
  background-color: darkgray;
  overflow: hidden;
  z-index: 0;
}

.shadow {
  position: absolute;
  height: 500px;
  width: 230px;
  left: 45%;
  background-color: gray;
  transform: rotate(20deg);
  z-index: 1;
}

.speaker {
  position: relative;
  height: 9px;
  width: 45px;
  border-radius: 30px;
  background-color: gray;
  margin-top: 7%;
  margin-left: 38.5%;
  display: inline-block;
  z-index: 2;
}

.camera {
  position: relative;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: gray;
  margin-top: 7%;
  margin-left: 12%;
  display: inline-block;
  z-index: 2;
}

.screen {
  position: relative;
  height: 72%;
  width: 88%;
  margin: 13.5% auto;
  background-color: #ffffff;
  z-index: 2;
  overflow: hidden;
}

.btn {
  position: relative;
  height: 5%;
  width: 25%;
  border-radius: 30px;
  background-color: rgb(90, 90, 90);
  margin-top: -5%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.menubar {
  height: 25px;
  width: 100%;
  background-color: #0F2524;
}

.menu-icon {
  position: absolute;
  height: 2px;
  width: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 6px 10px;
}

.menu-icon:nth-of-type(2) {
  margin-top: 11px;
}

.menu-icon:nth-of-type(3) {
  margin-top: 16px;
}

.entry {
  height: 80px;
  border-bottom: 2px solid #d6d6d6;
  overflow: hidden;
}

.profiler {
  height: 40px;
  width: 40px;
  background-color: #ADB7C1;
  margin-top: 20px;
  margin-left: 15px;
  display: inline-block;
}

.title {
  height: 5px;
  width: 40px;
  background-color: #D5E1ED;
  margin-top: -33px;
  margin-left: 64px;
}

.text {
  height: 5px;
  width: 120px;
  background-color: #ADB7C1;
  margin-top: 7px;
  margin-left: 64px;
}

#focus {
  cursor: pointer;
  -webkit-animation: animate 5s ease-out 1s infinite;
}

@-webkit-keyframes animate {
  0% {transform: scale(1);}
  2.5% {transform: scale(0.9);}
  5% {transform: scale(1); height: 80px;}
  15% {height: 300px;}
  65% {height: 300px;}
  75% {height: 80px;}
}

.add-content {
  height: 5px;
  width: 170px;
  background-color: #D5E1ED;
  margin-top: 30px;
  margin-left: 15px;
}

#credit {
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  color: #ffffff;
  margin-top: 10px;
  left: 20px;
}

// ANIMATION DESKTOP
.wrapper {
  display: flex;
  width: 100vw;
  overflow: hidden;
  height: 21em;
}

.grid {
	width: 100%;
  text-align: center;
}

  .grid--cell {
    width: 45%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
  }

.animation-wrapper {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
  border-radius: 5%;
  width: 100%;
  height: 30em;
}

  .animation-wrapper--software-bg {
    background: linear-gradient(-135deg, saturate(#ff3231, 35), saturate(darken(#ee3231, 20), 35));
  }

  .animation-wrapper--website-bg {
    background: linear-gradient(-135deg, #bcd74c, saturate(darken(#bcd74c, 26), 35));
  }

  .animation-wrapper--win-app-bg {
    background: linear-gradient(-135deg, #fcc000, saturate(darken(#EE9B00, 4), 25));
  }

  .animation-wrapper--win-mobile-app-bg {
    background: linear-gradient(-135deg, #01bcf3, saturate(darken(#01bcf3, 20), 25));
  }

.screen-shine {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  background-size: cover;
  background-position: top right;
  opacity: 0.3;
}

.absolute {
  position: absolute;
  top: 0;
  width: 100%;
}

.web-hardware {
  margin: 0 auto;
  border-radius: 6px;    
}

.web-hardware--desktop {
  width: 70%;
  height: 55%;
  top: 0%;
  left: 8%;
  padding: 6% 3%;
  background-color: #262626;
}

.web-hardware--mobile {
  width: 25%;
  height: 45%;
  top: 12%;
  right: 8%;
  padding: 5% 2%;
  background-color: #444;
}

  @keyframes web-scroller-anim {
    0% {background-position: 0 0;}
    35% {background-position: 0 99.5%;}
    36% {background-position: 0 100%;}
    50% {background-position: 0 100%;}
    85% {background-position: 0 0.5%;}
    86% {background-position: 0 0;}
    100% {background-position: 0 0;}
  }

.web-screen {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 2px;
  animation: web-scroller-anim 9s infinite;
}

  .web-screen--webapp-desktop {
    background: url("../../assets/img/services/desktop.svg");
    background-size: 100%;
  }

  .web-screen--webapp-mobile {
    background: url("../../assets/img/services/mobile.svg");
    background-size: 100%;
  }

// RESPONSIVE
@media only screen and (max-width: 360px) {
  .services-choice-item {
    padding: 12px 0px 10px;
  }
}

@media only screen and (max-width: 930px) {
  .animation-wrapper {
    height: 23em;
  }
  .wrapper {
    height: 15em;
  }
}

@media only screen and (max-width: 768px) {
  .animation-wrapper {
    height: 23em;
  }
  .wrapper {
    height: 15em;
  }
  .animation-wrapper {
    width: 125%;
    left: -30px;
  }
}

@media only screen and (max-width: 570px) {
  .animation-wrapper {
    width: 165%;
    left: -55px;
  }
}

@media only screen and (max-width: 375px) {
  .animation-wrapper {
    width: 210%;
    left: -95px;
  }
}

@media only screen and (max-width: 340px) {
  .animation-wrapper {
    width: 210%;
    left: -90px;
  }
}
</style>