<template>
    <div id="Technologies-container" :style="globalColor">
        <div class="row">
            <h3>{{ $t('technologies.title') }}</h3>
        </div>
        <div class="row">
            <div class="wrap">
                <ul class="technos">
                    <li data-aos="zoom-in" 
                        data-aos-offset="100"
                        data-aos-delay="0"
                        data-aos-easing="ease-in-sine">
                        <span>
                            <img class="img-clair" src="../../assets/img/technologies/nodejs.png" alt="Logo NodeJs" title="Node.js" />
                        </span>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="100"
                        data-aos-delay="200"
                        data-aos-easing="ease-in-sine">
                        <span>
                            <img src="../../assets/img/technologies/vuejs.png" alt="Logo VueJs" title="Vue.js" />
                        </span>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="100"
                        data-aos-delay="400"
                        data-aos-easing="ease-in-sine">
                        <span>
                            <img class="tooBig img-clair" src="../../assets/img/technologies/js.png" alt="Logo Js" title="Javascript" />
                        </span>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="100"
                        data-aos-delay="600"
                        data-aos-easing="ease-in-sine">
                        <span>
                            <img class="tooBig img-clair" src="../../assets/img/technologies/html5.png" alt="logo HTML 5" title="HTML 5" />
                        </span>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="100"
                        data-aos-delay="800"
                        data-aos-easing="ease-in-sine">
                        <span>
                            <img class="tooBig" src="../../assets/img/technologies/css3.png" alt="logo CSS3" title="CSS 3" />
                        </span>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="100"
                        data-aos-delay="1000"
                        data-aos-easing="ease-in-sine">
                        <span>
                            <img src="../../assets/img/technologies/electron.png" alt="logo Electron" title="Electron" />
                        </span>
                    </li>
                    <li data-aos="zoom-in" 
                        data-aos-offset="100"
                        data-aos-delay="1200"
                        data-aos-easing="ease-in-sine">
                        <span>
                            <img class="img-clair" src="../../assets/img/technologies/cordova.png" alt="logo Cordova" title="Apache Cordova" />
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {    
    name: "technologies",
    computed: {
        globalColor() {
            return {
                '--globalColor': this.$parent.$parent.globalColor   
            }
        }
    }
}
</script>

<style lang="scss" scoped>
$globalColor: var(--globalColor);

#Technologies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}


h3 {
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  padding-bottom: 6px;
  color: #000;
  letter-spacing: 0.3px;
  padding: 0;
}

h3::after {
    content: "";
    height: 3px;
    background: $globalColor;
    width: 10em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 35px;
}

.wrap {
    width: 100%;
    margin-top: 50px;
    padding: 0 25px;
}

.technos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between
}

.technos li {
  list-style: none;
  margin: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  flex-wrap: nowrap;
  vertical-align:middle;
  display: block;
  height: 100px;
  line-height: 100px;
  padding: 0 15px;
}

.technos img {
  width: 5em;
  text-align: center;
  vertical-align: middle;
}

.tooBig {
  width: 4em !important;
}

@-moz-document url-prefix() {
  .img-clair {
    filter: none;
  }
}

@supports (-ms-ime-align: auto) {
  .img-clair {
    filter: none;
  }
}
</style>