<template>
  <div id="app" :style="globalColor">
    <Loader />
    <router-view/>
  </div>
</template>

<script>
import axios from 'axios';
import Loader from './components/element/Loader.vue'
const { detect } = require('detect-browser');
const browser = detect();

export default {
  name: 'app',
  data() {
    return {
      globalColor: '#0b93f6'
    }
  },
  components: {
    Loader
  },
  mounted() {
    switch (browser && browser.name) {
      case 'chrome':
      case 'firefox':
      case 'opera':
        break;
    
      default:
        this.$router.push("/Browser")
    }
    axios.interceptors.response.use(
      function(response) { return response;}, 
      function(error) {
        // handle error
        if (error.response) {
          alert(error.response.data.message);
        }
    });
    new Konami(() => {
	  	alert('HADOUKEN ! ༼つಠ益ಠ༽つ ─=≡ΣO)) ')
	  });
  }
}
</script>

<style lang="scss">
$globalColor: var(--globalColor);

@font-face {
	font-family: "Poppins-Regular";
	src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: "Poppins-Thin";
	src: url('./assets/fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
	font-family: "Poppins-Bold";
	src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: "Arvo-Bold";
	src: url('./assets/fonts/Arvo/Arvo-Bold.ttf');
}

@font-face {
	font-family: "Seaweed-Regular";
	src: url('./assets/fonts/Seaweed_Script/SeaweedScript-Regular.ttf');
}

@font-face {
	font-family: "Vibur";
	src: url('./assets/fonts/Vibur/Vibur-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  font-family: Poppins-Regular;
}

a {
  text-decoration: none;
}

/* BIG TITLE  */
.title-big {
  width: 100%;
  text-align: center;
}

.title-big h3 {
  color: $globalColor;
  white-space: nowrap;
  letter-spacing: 0.04em;
  font-size: calc(25px + (85 - 25) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  text-transform: uppercase;
  font-family: Poppins-Bold !important;
  margin: 20px 0 20px 0;
  display: block;
  z-index: 5;
    &::before {
      content: attr(data-before);
      overflow: hidden;
      color: rgba(220,220,220,0.5);
      font-size: calc((25px + (85 - 25) * ((100vw - 300px) / (1600 - 300)))*1.30);
      display: block;
      letter-spacing: 12px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
      position: absolute;
      width: 100%;
      z-index: -5;
    }
}

.title-light {
  &::before {
    opacity: 0.45;
  }
}

@media only screen and (max-width: 820px) {
  .title-long h3 {
    &::before {
      font-size: 6vw !important;
    }
  }
}

@media only screen and (max-width: 660px) {
  .title-big h3 {
    &::before {
      letter-spacing: 10px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .title-big h3 {
    &::before {
      letter-spacing: 6px;
    }
  }
}

.row:not(.column-row) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.column-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.img-clair {
  filter: brightness(1.3);
}

@supports (-ms-ime-align: auto) {
  .title-big h3::before {
    top: 0px;
  }
}
</style>
